<script src="~/JsModule/_PatientMasterInfo.js?v1.0"></script>
<style>
    .blockUI {
        pointer-events: none;
    }

    .section {
        margin-top: 0px;
        padding: 1px;
        border: 1px solid #2478a9;
        height: 150px;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 2px 5px;
        margin: 0;
        width: 100%;
    }

    #liveCamera video {
        width: 100%;
        height: 106px;
        margin: 1px 0px;
    }

    #liveCamera label {
        position: absolute;
        text-align: center;
        width: 100%;
        color: #429900;
        top: 77%;
        left: 0px;
        font-size: 11px;
    }

    #ImgCaptured label {
        position: absolute;
        text-align: center;
        width: 100%;
        color: #429900;
        top: 78%;
        left: 0;
        font-size: 10px;
    }

    #ImgCaptured canvas {
        width: 100%;
        height: 108px;
        margin: 1px 0px;
    }

    #cameraControl {
        border: 1px solid #e7e7e7;
        position: absolute;
        bottom: 2px;
        background: #fff7e8;
        width: 86%;
    }

        #cameraControl .fa {
            cursor: pointer;
            font-size: 17px;
            padding: 0px 14px;
            margin: 2px 0;
        }

            #cameraControl .fa:nth-child(1) {
                color: #e99a0c;
            }

            #cameraControl .fa:nth-child(2) {
                color: #6bbb22;
            }

            #cameraControl .fa:nth-child(3) {
                color: #dd4e4e;
            }

    .btn-pay-ctrl {
        padding: 7px;
    }

    .TimeFrame {
        max-height: 480px;
        overflow: auto;
        overflow-y: auto;
    }

    .TimeSlot-Status {
        padding: 2px;
        color: white;
        background: #064c67;
        border-radius: 5px;
    }

    .TimeSlot-Title {
        align-items: center;
        display: flex;
        border: 1px solid #ddd;
        background: #f1f1f1;
        padding: 4px 10px;
        font-size: 13px;
        font-weight: bold;
        color: #036f98;
        margin: 0px 121px;
    }

    .TimeSlot {
        display: -webkit-inline-box;
        width: 18%;
        margin: 6px 7px;
        box-shadow: 1px 2px 4px #ddd;
        cursor: pointer;
        background: #cccccc;
        color: #fff;
        padding: 2px 22px;
        /* border-top-left-radius: 15px; */
        /* border-bottom-right-radius: 15px; */
        line-height: 22px;
        text-align: center;
    }

        .TimeSlot:hover {
            box-shadow: 1px 2px 4px #4c4646;
            transition: all 0.6s;
        }

    span[disabled] {
        background: #ccc !important;
        cursor: not-allowed !important;
    }

        span[disabled] > .TimeSlot-Status {
            background: #595a58 !important;
        }

    .active {
        color: green;
    }

    .text-white {
        color: #fff !important;
    }

    .panel {
        color: #000;
        border-color: #c5c5c5 !important;
        margin-bottom: 5px;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 7px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .payment-input {
        text-align: right;
        font-size: 15px !important;
        font-weight: 700 !important;
    }

    .hr-pay {
        margin-top: 7px;
        margin-bottom: 5px;
        border: 0;
        border-top: 2px solid #ff6666;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .left-section {
        /*background: #e0e0e0;*/
        background: #4a4a4a1f;
        border-right: 1px dashed #e8e1e1;
    }

        .left-section span {
            font-family: Tahoma;
        }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 480px;
        display: block;
    }

    .panel-body {
        /*background: url(http://192.168.4.10/HIS/Images/patter.jpg) !important;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }

    button, select, input {
        border: 1px solid #b1b1b1;
    }

    .form-group {
        margin-bottom: 3px;
    }

    div.dataTables_filter input, .chosen-container-single .chosen-search input, .input,
    .form-control, .dataTables_length select, .chosen-container-multi,
    .bootstrap-timepicker-widget table td input, .ui-toolbar select, .ui-toolbar input {
        font-size: 11px;
        display: block;
        float: none;
        background: #fff;
        width: 100%;
        height: 24px;
        padding: 5px 12px;
        color: #000000;
        border: #a7a7a7 solid 1px;
        -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
        -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
        box-shadow: inset 1px 1px 3px #f6f6f6;
    }

    .btn-flat {
        padding: 2px;
        margin-left: 6px;
    }

    #tblPaymentDetails tbody td input, #tblPaymentDetails tbody td select {
        font-size: 11px;
        height: 17px !important;
        padding: 1px 2px;
    }

    #tblPaymentDetails tbody tr:nth-child(n+2) {
        display: none;
    }

    .select2-selection {
        padding: 4px !important;
        height: 24px !important;
    }

    #tblPaymentDetails .select2-selection, #tblPaymentDetails .select2-selection__arrow {
        padding: 1px !important;
        height: 17px !important;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }

    .paymentSection {
        padding: 6px;
    }

    .discountSection {
        margin-bottom: 2px;
        border: 1px solid #ddd;
        padding: 6px;
        background: #dedfe0;
    }

    .btn-view {
        width: 31px;
        font-size: 19px;
        padding: 0;
    }

    input:disabled {
        opacity: 1 !important;
    }

    .btn-circle {
        color: #000;
        background: #fff;
        padding: 1px 5px;
        border-radius: 30px;
    }
</style>
<div class="col-md-12">
    <div class="ml15">
        <div class="">
            <div class="panel">
                <div class="panel-heading" style="background:#0076d0;padding:1px 5px">
                    <h5 class="text-white">Patient Information</h5>
                </div>
                <div class="panel-body" style="background:#fff;padding: 1px 8px;" id="BasicInformation">
                    <div class="row">
                        <div class="col-md-6 left-section">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Barcode</span>
                                        <span style="width:3%">:</span>
                                        <span style="width:70%;">
                                            <div style="display:flex">
                                                <input type="text" id="txtBarcode" class="form-control text-uppercase" placeholder="Barcode" />
                                                <input type="button" class="btn-success btn-flat" id="btnOldPatient" value="Old Patient" style="width: 50%;" />
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">UHID</span>
                                        <span style="width:3%">:</span>
                                        <span style="width:70%;">
                                            <div style="display:flex">
                                                <input type="text" id="txtUHID" disabled="disabled" value="New" class="form-control text-uppercase" placeholder="UHID" />
                                                <input type="button" class="btn-success btn-flat" id="btnOldPatient" data-target="#modalOnlinePatient" data-toggle="modal" value="Online Booking" style="width: 50%;" />
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row patientinfo-section-1">
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">First Name</span>
                                        <span style="width:3%">:</span>
                                        <div class="input-group-prepend" style="width:70%;display:flex">
                                            <div style="width:100px !important;">
                                                <select id="ddlTitle" class="border-imp">
                                                    <option value="Male">Mr.</option>
                                                    <option value="Female">Mrs.</option>
                                                    <option value="Female">Miss.</option>
                                                    <option value="Male">Master.</option>
                                                    <option value="Female">Baby.</option>
                                                    <option value="UnKnown">B/O.</option>
                                                    <option value="UnKnown">Dr.</option>
                                                    <option value="UnKnown">Prof.</option>
                                                    <option value="Female">Madam.</option>
                                                    <option value="UnKnown">Selvi.</option>
                                                    <option value="UnKnown">Selvan.</option>
                                                    <option value="Female">Sister.</option>
                                                    <option value="Male">Mohd.</option>
                                                </select>
                                            </div>
                                            <input type="text" id="txtFirstName" class="form-control text-uppercase border-imp" placeholder="First Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Last Name</span>
                                        <span style="width:3%">:</span>
                                        <span style="width:70%">
                                            <input type="text" id="txtLastName" class="form-control text-uppercase" placeholder="Last Name" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row patientinfo-section-1">
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Gender</span>
                                        <span style="width:3%">:</span>
                                        <span style="width:70%">
                                            <select class="form-control border-imp" id="ddlGender">
                                                <option>Select</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                                <option>Other</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Mobile No</span>
                                        <span style="width:3%">:</span>
                                        <span style="width:70%">
                                            <input type="text" id="txtMobileNo" data-int maxlength="10" class="form-control text-uppercase border-imp" placeholder="Mobile No" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row patientinfo-section-2">
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">DOB</span>
                                        <span style="width:3%">:</span>
                                        <div style="width:70%">
                                            <input type="date" id="txtDOB" class="form-control text-uppercase" placeholder="dd/mm/yyyy" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Age</span>
                                        <span style="width:3%">:</span>
                                        <div class="input-group-prepend" style="width:70%;display:flex">
                                            <input type="text" id="txtAge" class="form-control text-uppercase border-imp" data-int placeholder="Age" autocomplete="off" />
                                            <div style="width:100px !important;">
                                                <select id="ddlAgeType" class="control border-imp">
                                                    <option value="Years">Years</option>
                                                    <option value="Month">Month</option>
                                                    <option value="Days">Days</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row patientinfo-section-2">
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Country</span>
                                        <span style="width:3%">:</span>
                                        <div style="width:70%">
                                            <select id="ddlCountry" class="form-control border-imp"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">State</span>
                                        <span style="width:3%">:</span>
                                        <div style="width:70%">
                                            <select id="ddlState" class="form-control border-imp"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row patientinfo-section-2">
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">City</span>
                                        <span style="width:3%">:</span>
                                        <div style="width:70%">
                                            <select id="ddlCity" class="form-control border-imp"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group flex">
                                        <span style="width:27%">Address</span>
                                        <span style="width:3%">:</span>
                                        <div style="width:70%">
                                            <input type="text" id="txtAddress" class="form-control text-uppercase border-imp" placeholder="Address" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group flex">
                                                <span style="width:27%">Email-Id</span>
                                                <span style="width:4%">:</span>
                                                <span style="width:70%">
                                                    <input type="text" id="txtEmailId" class="form-control" placeholder="Email-Id" />
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group flex">
                                                <span style="width:27%">Membership No.</span>
                                                <span style="width:4%">:</span>
                                                <span style="width:70%">
                                                    <input type="text" id="txtMembershipNo" maxlength="20" class="form-control text-uppercase" placeholder="Membership No." />
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group flex">
                                                <span style="width:27%">Marital / Religion</span>
                                                <span style="width:4%">:</span>
                                                <div style="width:70%;display:flex">
                                                    <div style="width:190px !important;">
                                                        <select class="form-control" id="ddlMaritalStatus" style="width: 139px;">
                                                            <option>Select</option>
                                                            <option>Married</option>
                                                            <option>Unmarried</option>
                                                        </select>
                                                    </div>
                                                    <select class="form-control" id="ddlReligion">
                                                        <option>Select</option>
                                                        <option>Hinduism</option>
                                                        <option>Christianity</option>
                                                        <option>Shikhism</option>
                                                        <option>Islam</option>
                                                        <option>Jainism</option>
                                                        <option>Buddhism</option>
                                                        <option>Zoroastrianism</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group flex">
                                                <span style="width:27%">ID-Proof No</span>
                                                <span style="width:4%">:</span>
                                                <div style="width:70%;display:flex">
                                                    <div style="width:190px !important;">
                                                        <select class="form-control" id="ddlIdProof" style="width: 102px;">
                                                            <option>Select</option>
                                                            <option>AADHAR</option>
                                                            <option>PAN</option>
                                                            <option>VOTER</option>
                                                            <option>PASSPORT</option>
                                                            <option>RASAN(BPL)</option>
                                                            <option>RASAN(APL)</option>
                                                            <option>OTHER</option>
                                                        </select>
                                                    </div>
                                                    <input type="text" class="form-control" id="txtIdNo" placeholder="ID-Proof No" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group flex">
                                                <span style="width:27%">Relation Of</span>
                                                <span style="width:4%">:</span>
                                                <div style="width:70%;display:flex">
                                                    <div style="width:190px !important;">
                                                        <select class="form-control" id="ddlRelationOf" style="width: 120px;">
                                                            <option>Select</option>
                                                            <option>FATHER</option>
                                                            <option>S/O</option>
                                                            <option>W/O</option>
                                                            <option>D/O</option>
                                                            <option>H/O</option>
                                                            <option>C/O</option>
                                                            <option>F/O</option>
                                                            <option>M/O</option>
                                                            <option>BROTHER</option>
                                                            <option>UNCLE</option>
                                                            <option>SISTER</option>
                                                            <option>OTHER</option>
                                                        </select>
                                                    </div>
                                                    <input type="text" class="form-control" id="txtRelationName" placeholder="Relation Name" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group flex">
                                                <span style="width:27%">Relation Contact</span>
                                                <span style="width:4%">:</span>
                                                <span style="width:70%;display:flex">
                                                    <input type="text" class="form-control" data-int maxlength="10" id="txtRelationContact" placeholder="Relation Contact No." />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="section" style="height:170px;">
                                        <label class="title">Photo Capture</label>
                                        <div id="liveCamera">
                                            <video id="video" autoplay></video>
                                            <label>Start Camera</label>
                                        </div>
                                        <div id="ImgCaptured">
                                            <canvas id="canvas"></canvas>
                                            <label>Captured..</label>
                                        </div>
                                        <div id="cameraControl">
                                            <i id="start-camera" class="fa fa-camera" title="Start"></i>
                                            <i id="click-photo" class="fa fa-picture-o" title="Capture"></i>
                                            <i id="click-photo" class="fa fa-stop" title="Stop"></i>
                                        </div>
                                    </div>
                                    @*<div class="form-group" style="padding:0 7px">
                                            <span><input type="button" class="btn-success btn-flat" id="txtIdNo" data-target="#modalOldPatient" data-toggle="modal" value="Old Patient Search" style="margin-left: 0;width: 100%;" /></span>
                                            <span><img src="~/images/PatientIcon.png" style="border:1px solid #ddd;width:100%;height:95px;margin-left: 0;" /></span>
                                            <span><input type="button" class="btn-warning btn-flat" id="txtIdNo" value="Documents" style="margin-left: 0;width: 100%;" /></span>
                                            <span style="margin-top:2px;"></span>
                                        </div>
                                        <input type="button" class="btn-primary btn-flat" id="txtIdNo" value="Last Reg. Date" style="width: 91%;padding:0 7px" />*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Old Patient Search Modal---->
<div class="modal fade" id="modalOldPatient" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:10%;">
            <div class="panel-heading flex" style="background:#0076d0;padding:1px 5px;">
                <h5 class="text-white">Old Patient Search</h5>
                <span data-dismiss="modal" class="btn-close">x</span>
            </div>
            <div class="modal-body" style="height:480px;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group flex">
                            <span style="width:26%"><b>Search</b></span>
                            <span style="width:4%"><b>:</b></span>
                            <span style="width:40%">
                                <select id="ddlSearchKey" class="form-control border-imp" style="width: 90px !important;">
                                    <option value="UHID">UHID</option>
                                    <option value="MobileNo" selected="selected">Mobile No</option>
                                    <option value="HealthCardNo">Health Card No</option>
                                    <option value="AppointmentNo">Appointment No</option>
                                    <option value="IPDNo">IPD No</option>
                                </select>
                            </span>
                            <input type="text" id="txtSearchValue" class="form-control text-uppercase border-imp" placeholder="Search Input" />
                            <input type="button" id="btnSearchOldPatient" class="btn-success btn-flat" value="Search" />
                            <input type="button" id="btnNewPatient" class="btn-danger btn-flat" style="display:none" value="New" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <div style="height:400px;overflow:auto">
                            <table id="tblOldPatient" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:1%">Action</th>
                                        <th>UHID No</th>
                                        <th>Patient Name</th>
                                        <th>Gender</th>
                                        <th>DOB</th>
                                        <th>Age</th>
                                        <th>Mobile No</th>
                                        <th>Address</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Online Patient---->
<div class="modal fade" id="modalOnlinePatient" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:1160px;margin: 6% -12%;">
            <div class="panel-heading flex" style="background:#0076d0;padding:1px 5px;">
                <h5 class="text-white">Online Patient</h5>
                <span data-dismiss="modal" class="btn-close">x</span>
            </div>
            <div class="modal-body" style="height:480px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group flex">
                            <span style="width:10%"><b>Date</b></span>
                            <span style="width:4%"><b>:</b></span>
                            <span style="width:40%">
                                <input type="date" id="txtOnlineBookingDate" class="form-control" />
                            </span>
                            <input type="button" id="btnOnlinePatientBooking" onclick="GetOnlinePatient()" class="btn-warning btn-flat" value="Get Patient Info" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div style="height:400px;overflow:auto">
                            <table id="tblOnlinePatientBooking" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:1%">Action</th>
                                        <th>UHID No</th>
                                        <th>Patient Name</th>
                                        <th>Gender/Age</th>
                                        <th>Mobile No</th>
                                        <th>Address</th>
                                        <th>Confirm Remark</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---ITDose Patient Search Modal---->
<div class="modal fade" id="modalITDosePatient" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:10%;">
            <div class="panel-heading flex" style="background:#0076d0;padding:1px 5px;">
                <h5 class="text-white">ITDose Patient Search</h5>
                <span data-dismiss="modal" class="btn-close">x</span>
            </div>
            <div class="modal-body" style="height:480px;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group flex">
                            <span style="width:26%"><b>Search</b></span>
                            <span style="width:4%"><b>:</b></span>
                            <span style="width:40%">
                                <select id="ddlSearchKey" class="form-control border-imp" style="width: 90px !important;">
                                    <option value="UHID">UHID</option>
                                    <option value="MobileNo" selected="selected">Mobile No</option>
                                    <option value="HealthCardNo">Health Card No</option>
                                    <option value="AppointmentNo">Appointment No</option>
                                    <option value="IPDNo">IPD No</option>
                                </select>
                            </span>
                            <input type="text" id="txtSearchValue" class="form-control text-uppercase border-imp" placeholder="Search Input" />
                            <input type="button" id="btnSearchOldPatient" class="btn-success btn-flat" value="Search" />
                            <input type="button" id="btnNewPatient" class="btn-danger btn-flat" style="display:none" value="New" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br />
                        <div style="height:400px;overflow:auto">
                            <table id="tblITDosePatient" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:1%">Action</th>
                                        <th>UHID No</th>
                                        <th>Patient Name</th>
                                        <th>Gender</th>
                                        <th>DOB</th>
                                        <th>Age</th>
                                        <th>Mobile No</th>
                                        <th>Address</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>