
@{
    ViewBag.Title = "BookingConfirmation";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .notification {
        background-color: #555;
        color: white;
        text-decoration: none;
        padding: 15px 15px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
    }

        .notification:hover {
            background: red;
        }

        .notification .badge {
            position: absolute;
            top: -10px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: red;
            color: white;
        }
</style>
<div id="page-content">
    <script src="~/Areas/Online/JsModule/online_ConfirmAppointment.js?his-version-1.0"></script>
    <section class="content">
        <div class="row">
            <div class="box box-purple">
                <div class="box-body">
                    <div class="col-md-2">From Date<input type="date" class="form-control" id="txtFrom" autocomplete="off" placeholder="dd/mm/yyyy" data-date-format="DD-MM-YYYY" /></div>
                    <div class="col-md-2">To Date<input type="date" class="form-control" id="txtTo" autocomplete="off" placeholder="dd/mm/yyyy" /></div>
                    <div class="col-md-8">
                        <div style="display:flex;margin-top: 17px;">
                            <button id="btnNewReqList" type="button" class="btn btn-warning">NEW REQUEST<i id="spnNew" class="badge"></i></button>
                            <button id="btnPayedList" type="button" class="btn btn-success">PAYMENT DONE   <span id="spnPay" class="badge"></span></button>
                            <button id="btnPayUStatus" onclick="PayUMoneyByDate()" type="button" class="btn btn-info">PayU Payment Status</button>
                            <button id="btnCancelled" style="width:15%" type="button" class="btn btn-danger">CANCELLED</button>
                            <button id="btnAll" style="width:8%" type="button" class="btn btn-info">ALL</button>
                        </div>
                    </div>                                                                                                 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="box box-purple">
                    <div class="box-body">
                        <div class="container" style="width:100%;overflow-y:scroll;height:500px">
                            <input class="form-control" id="myInput" type="text" placeholder="Search.." />
                            <table id="tblBooking" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Booking Date</th>
                                        <th>AppointmentId</th>
                                        <th>Patient Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Mobile No</th>
                                        <th>Isconfirmed</th>
                                        <th>Cmd</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="height:400px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-purple">
                            <div class="row">
                                <div class="col-xs-12" id="trfDetail">
                                    <table id="tblBookingDetail" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>Appointment Id</td>
                                                <td colspan="2">
                                                    <input type="text" id="txtAppointmentId" class="form-control" />
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Doctor Selection</td>
                                                <td colspan="2">
                                                    <select id="ddlDoctorName" class="form-control">
                                                        <option value="Pending" selected="selected">Pending</option>
                                                        <option value="BookingInPeriod">Booking In Period</option>
                                                        <option value="Cancelled">Cancelled</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Appointment Type</td>
                                                <td colspan="2">
                                                    <select id="ddlVisitType" class="form-control">
                                                        <option value="Normal" selected="selected">Normal</option>
                                                        <option value="Follow">Follow</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Appointment Date</td>
                                                <td colspan="2"><input type="text" id="txtAppointmentdate" class="form-control" readonly="readonly" /> <button id="btnSchDate" type="button" class="btn btn-warning btn-block" onclick="showDialog()">Select DateTime</button></td>
                                            </tr>
                                            <tr>
                                                <td>Remark</td>
                                                <td colspan="2"><textarea id="txtRemark" class="form-control"> </textarea></td>
                                            </tr>
                                            <tr>
                                                <td>Meeting Link</td>
                                                <td>
                                                    <textarea id="txtMeetingLink" class="form-control"> </textarea>
                                                </td>
                                                <td>
                                                    <button id="btnSendMeetLink" type="button" class="btn btn-info btn-block" onclick="Online_BookingNotification(this.id);">Send</button>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button id="btnConfirm" type="button" class="btn btn-success btn-block" onclick="BookingConfirmation()">Confirm</button>
                                </div>

                                <div class="col-md-4">
                                    <button id="btnCancel" type="button" class="btn btn-danger btn-block" onclick="CancelBooking();">Cancel</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnResendLink" type="button" class="btn btn-info btn-block" onclick="Online_BookingNotification(this.id);">Re-Send Pay Link</button>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button id="btnPayStatus" type="button" class="btn btn-success btn-block" onclick="GetPaymentStatus()">Pay Status</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnOpenSmsLog" type="button" class="btn btn-danger btn-block" onclick="showSmsDialog();">SMS Log</button>
                                </div>
                                <div class="col-md-4">
                                    <button id="btnCompleteMeeting" type="button" class="btn btn-info btn-block" onclick="CompleteMeeting();">Complete Meeting</button>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="file" id="myfileinput" value="Browse Prescription" class="form-control btn-success">
                                </div>
                                <div class="col-md-3">
                                    <input type="button" id="btncreatePres" value="UPLOAD" class="btn btn-info btn-block" onclick="PreparePrescription();" />
                                </div>
                                <div class="col-md-3">
                                    <a href="" id="btnView" target="_blank" class="btn btn-info btn-block">PENDING </a>
                                </div>
                                <div class="col-md-3">
                                    <button id="btnSendPrescription" class="btn btn-info btn-block" onclick="Online_BookingNotification(this.id);">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-purple">
                            <div class="row form-group">
                                <div class="col-xs-12" id="trfDetail" style="overflow-y:scroll;height:200px">
                                    <table id="tblOrderIds" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td>Appointment Reason</td>
                                                <td id="idBookingReason"></td>
                                            </tr>
                                            <tr>
                                                <td>Alloted Doctor</td>
                                                <td id="idAllotedDoctor"></td>
                                            </tr>
                                            <tr>
                                                <td>Doctor Fee</td>
                                                <td id="idFee"></td>
                                            </tr>
                                            <tr>
                                                <td>Pay Status</td>
                                                <td id="idPayStatus"></td>
                                            </tr>
                                            <tr>
                                                <td>Appointment Date Time</td>
                                                <td id="idAppDateTime"></td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td id="idAddress"></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td id="idEmail"></td>
                                            </tr>

                                            <tr>
                                                <td>Confirm_remark</td>
                                                <td id="idConfirmRemark"></td>
                                            </tr>
                                            <tr>
                                                <td>Mobile</td>
                                                <td><input type="text" id="txtMobile1" class="form-control" /></td>
                                            </tr>


                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span style="text-align:center;width:100%" id="elDoctorName"></span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Appointment Date</div>
                        <div class="col-md-4"><input type="date" class="form-control" id="dtolddate" autocomplete="off" placeholder="dd/mm/yyyy" data-date-format="DD-MM-YYYY" /></div>
                        <div class="col-md-4"><input type="button" class="btn-success" id="btnGetdate" onclick="DoctorScheduledList()" value="Booked Appointment" /></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Choose Date Time</div>
                        <div class="col-md-4"><input type="datetime-local" class="form-control" id="dtAppDatetime" autocomplete="off" placeholder="dd/mm/yyyy" data-date-format="DD-MM-YYYY" /></div>
                        <div class="col-md-4"><input type="button" class="btn-success" id="btnGetdate" onclick="getdate()" value="Select Date" /></div>
                    </div>

                </div>
                <div class="modal-body">
                    <table id="tblScheduledList" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>AppointmentId</th>
                                <th>Patient Name</th>
                                <th>Appointment DateTime</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span style="text-align:center;width:100%" id="elDoctorName">Payment Status on PayU Money</span>
                </div>
                <div class="modal-body">
                    <table id="tblPayments" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>AppointmentId</th>
                                <th>paymentId</th>
                                <th>PayMode</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>PaymentDate</th>
                                <th>Command</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span style="text-align:center;width:100%">SMS Log</span>
                </div>
                <div class="modal-body" style="height:500px;overflow-y:scroll">
                    <div class="row">
                        <div class="col-md-2">Mobile No</div>
                        <div class="col-md-4"><input type="text" id="txtMobileLog" class="form-control" /></div>
                        <div class="col-md-3"><input type="button" id="btnSMSGetLog" value="Get Log" class="form-control btn-success" onclick="GetSmsLog()" /></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="tblSmsLog" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Sms</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tblBooking tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </div>

    <input id="hidMobile" type="hidden" />
    <div class="modal fade" id="modalPayUPayment" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 1200px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background: #e9e9e9;padding: 4px 10px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span style="text-align:center;width:100%" id="elDoctorName">PayU Payment Info</span>
                </div>
                <div class="modal-body">
                    <table id="tblPayUPayment" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Payment Id</th>
                                <th>Tnx Id</th>
                                <th>Patient Name</th>
                                <th>Phone</th>
                                <th>Bank Name</th>
                                <th>Amount</th>
                                <th>Bank Ref. No</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>