
@{
	ViewBag.Title = "CreateAudit";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Warehouse/JsModule/Audit/CreateAudit.js?his-version-1.0"></script>
<style>
	hr {
		margin-top: 35px;
		margin-bottom: 5px;
		border: 0;
		border-top: 1px solid #eee;
	}

	.scroll-table {
		width: 100%;
		max-height: 380px;
		background: #fff;
		overflow: overlay;
		height: 510px;
		display: block;
	}

	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 5px;
	}

	.panel-body {
		padding: 15px 15px 0px 20px;
		position: relative;
	}

	.text-white {
		color: #fff;
	}
</style>

<div id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="">
					<div class="panel">
						<div class="panel-heading" style="background:#0076d0;padding:1px 10px;">
							<p class="text-white">Create Audit</p>
						</div>
						<div class="panel-body" style="background:#fff;">
							<div class="col-xs-3">
								<span class="text-pink">Search Audit</span>
							</div>
							<div class="col-xs-9">
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
									<input type="text" id="txtSearch" class="form-control input_pass" onkeyup="return SearchDepartment(this)" placeholder="Search Audit..">
								</div>
							</div>
							<hr />
							<div class="example-box-wrapper">
								<div class="form-horizontal bordered-row">
									<div class="form-group">
										<div class="col-sm-6">
											<div class="fileinput fileinput-new input-group" style="display:flex" data-provides="fileinput">
												<select id="ddlDept" class="form-control">
													<option>Select</option>
												</select>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="fileinput fileinput-new input-group" style="display:flex" data-provides="fileinput">
												<select id="ddlCart" class="form-control"></select>
											</div>
										</div>
										<div class="col-sm-8">
											<div class="fileinput fileinput-new input-group" style="display:flex" data-provides="fileinput">
												<textarea class="form-control" id="txtRemark" rows="1" placeholder="Remark"></textarea>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="fileinput fileinput-new input-group" style="display:flex" data-provides="fileinput">
												<button id="btnSave" onclick="InsertAuditMaster()" class="btn btn-success">Submit</button>
											</div>
										</div>
									</div>
									<div class="table table-responsive">
										<div class="scroll-table">
											<table class="table table-bordered" id="tblAuditMaster">
												<thead>
													<tr>
														<th>Audit No</th>
														<th>Remark</th>
														<th>Created On</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

