
@{
    ViewBag.Title = "PanelRateItem";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/EDP/JsModule/PanelItemRate.js"></script>

<style>
    .section-header {
        background: #ffffff;
        min-height: 570px;
        max-height: 570px;
        padding: 3px;
        margin-bottom: 3px;
        border: 1px solid #2478a9;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 3px 63px 2px 6px;
        top: 3px;
        position: relative;
    }

        .title:after {
            position: absolute;
            top: 0px;
            right: 0px;
            content: '';
            border-right: -2px solid transparent;
            border-left: 25px solid transparent;
            border-top: 25px solid #fff;
        }

    .category {
        font-weight: bold;
        background: #fafcfe;
        display: flow-root;
        border: 1px solid #2478a9;
    }

    .section {
        min-height: 142px;
        max-height: 142px;
        overflow: auto;
        margin-bottom: 5px;
        border: 1px solid #2478a9;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }


    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }
    .select-row {
        background: #cfcfcf;
         color: #000 !important; 
    }
    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>

<div id="page-content">
    <div class="row">
        <div class="ml15" style="margin-left:27px;">
            <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Panel Rate Link</span></div>
            <div class="section-header">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="pwd">Rate List:</label>
                            <select id="ddlRateList" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label Class="col-sm-2">Category:</label>
                            <select id="ddlCategory" class="form-control" onchange="BindSubCategory()"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label>Sub Category:</label>
                            <select id="ddlSubCategory" class="form-control"></select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label>Room Type</label>
                        <div class="flex">
                            <select id="ddlRoomType" class="form-control">
                                <option value="ALL">All</option>
                                <option value="OPD">OPD</option>
                                <option value="IPD">IPD</option>
                            </select>
                            <button style="width:9vmax;border-radius:0;height:27px" class="btn btn-warning" onclick="GetItemRateList()"><i class="fa fa-search">&nbsp;</i>Search</button>
                            <button style="width:9vmax;border-radius:0;height:27px" id="btnSaveUpdate" class="btn btn-success" onclick="InsertUpdateRateList()"><i class="fa fa-plus"></i> Save</button>
                        </div>
                    </div>                   
                </div>
                <div class="">
                    <div class="table-responsive tableFixHead" style="min-height:495px;overflow:auto;border: 1px solid #2478a9;">
                        <table class="table table-bordered" id="tblRatePanelDetails">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Sr. No.</th>
                                    <th>Item Id</th>
                                    <th style="width:25%">Item Name</th>
                                    <th>Room Type</th>
                                    <th style="width:8%">Mrp Rate</th>
                                    <th style="width:8%">Rate</th>
                                    <th style="width:25%">Item Dispaly Name</th>
                                    <th style="width:8%">Item Code</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
