
@{
    ViewBag.Title = "LabReceive";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Lab/JsModule/LabReceive.js"></script>

<style>
    .pat-group {
        background: #f3cecca6;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0; margin-top: -13px;  padding: 4px; margin-top:0px;">
                                <h4 class="text-white">Lab Receive</h4>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-2" style="margin-top:5px;">
                                        <div class="form-group flex bc">
                                            <button class="btn btn-success bn" style=" font-size:9px;">From</button>
                                            <input type="date" id="txtFrom" class="form-control" style="width:82%;  font-size:11px; " />
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="margin-top:5px;">
                                        <div class="form-group flex bc">
                                            <button class="btn btn-success bn" style=" font-size:10px;">To</button>
                                            <input type="date" id="txtTo" class="form-control" style="width: 86%;  font-size:11px; " />
                                        </div>
                                    </div>
                                    <div class="col-md-3" style=" margin-top:5px;">
                                        <div class="form-group flex bc">
                                            <button class="btn btn-success bn" style="width:35%;font-size:10px;">Department</button>
                                            <select id="ddlCategory" onchange="GetTestBySubCategory()" class="form-control bn">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-5" style=" margin-top:5px;">
                                        <div class="form-group flex bc">
                                            <button class="btn btn-success bn" style="width:20%; font-size:10px;">Test Name</button>
                                            <select id="ddlTest" class="form-control bn">
                                                <option>Select</option>
                                            </select>
                                            <button class="btn btn-warning bn" onclick="LabReceiveInfo('LabReceiveInfo:ByDate');" style="width:21%;"><span class="fa fa-search">&nbsp;</span>Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group flex bc">
                                            <button class="btn btn-success bn" style="width: 51%;"><span class="fa fa-barcode">&nbsp;</span>Barcode No</button>
                                            <input type="text" id="txtBarcodeNoByScan" class="form-control" onchange="" placeholder="Scan Barcode No ...." />                                           
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group flex bc">
                                            <input type="text" id="txtBarcode" class="form-control" placeholder="Search By Visit No, Barcode...." />
                                            <button class="btn btn-warning bn" onclick="LabReceiveInfo('LabReceiveInfo:ByBarcodeNo');" style="width: 89px;"><span class="fa fa-search">&nbsp;</span>Search</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-warning pull-right" onclick="LabSampleReceive();" style="height:30px;"><span class="fa fa-sign-in">&nbsp;</span>Receive</button>
                                    </div>
                                </div>
                                <div class="scroll" style="height:505px;  display:block; border:1px solid #00a65a; overflow:auto;padding-bottom:7px;">
                                    <table class="table table-bordered" id="tblLabDetails">
                                        <thead>
                                            <tr>
                                                <th style="width:1%;">S.No</th>
                                                <th style="width: 8%;">Visit No</th>
                                                <th style="width: 5%;">BarCode No</th>
                                                <th style="width: 15%;">Patient Name</th>
                                                <th style="width:25%;">Test Name</th>
                                                <th style="width: 5%;">Sample</th>
                                                <th style="width:1%;"><input type="checkbox" style="margin:0px">
                                            </tr>  
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

