
@{
    ViewBag.Title = "SampleDispatch";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Lab/JsModule/SampleDispatch.js"></script>
<style>
    .btnDispatchGroup {
        height: 17px;
        line-height: 0;
    }
    .pat-group {
        background: #f3cecca6;
    }
    .lab-group {
        background: #ddd;
    }

    .lab-group {
        background: #d2ebfe;
    }

    .cat-group {
        background: #f7c7c7;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        /*max-height: 450px;*/
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="panel-heading" style="background-color:#026cbd; color:white; padding: 1px;margin-left: 26px;">
                <h4 class="text-left" style="margin: 4px 2px;">SampleDispatch</h4>
            </div>
            <div class="col-md-6">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">                                                           
                                    <div class="col-md-4">
                                        <select id="ddlCategory" class="form-control bn"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="flex bc">
                                            <button class="btn btn-success bn pull-left" style="width:30%; font-size:12px;padding: 3px;">Lab</button>
                                            <input type="date" class="form-control" id="txtFrom" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="flex bc">
                                            <button class="btn btn-success bn pull-left" style="width:15%; font-size:12px;padding: 3px 8px;">To</button>
                                            <input type="date" class="form-control" id="txtTo" style="padding: 2px;" />
                                            <button class="btn btn-warning bn" style="width:23%;padding:4px 5px" onclick="GetTestListForDispatch()">Get</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="scroll" style="height:505px;margin-top:10px; display:block; border:1px solid #2478a9; overflow:auto;padding-bottom:7px;">
                                            <table class="table table-bordered" id="tblDispatch">
                                                <thead>
                                                    <tr>
                                                        <th style="width:1%;">S.No</th>
                                                        <th style="width:3%;">Test Code</th>
                                                        <th style="width:12%">Test Name</th>
                                                        <th style="width:5%">Sample Type</th>
                                                        <th style="width:0%;padding:0">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="flex bc">
                                            <button class="btn btn-success bn pull-left" style="width:30%; font-size:12px;padding: 3px;">From</button>
                                            <input type="date" class="form-control" id="txtFromDispatched" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="flex bc">
                                            <button class="btn btn-success bn pull-left" style="width:15%; font-size:12px;padding: 3px 8px;">To</button>
                                            <input type="date" class="form-control" id="txtToDispatched" style="padding: 2px;" />
                                            <button class="btn btn-warning bn" style="width:23%;padding:4px 5px" onclick="GetDispatchNoList()">Get</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                      @Html.Partial("_SampleTracking")
                                    </div>
                                    <div class="col-md-12">
                                        <div class="scroll" style="height:505px;margin-top:10px; display:block; border:1px solid #2478a9; overflow:auto;padding-bottom:7px;">
                                            <table class="table table-bordered" id="tblDispatchNo">
                                                <thead>
                                                    <tr>
                                                        <th style="width:1%;">S.No</th>
                                                        <th style="width:7%;">Dispatch No</th>
                                                        <th style="width:5%">No Of Item</th>
                                                        <th style="width:5%">Date</th>
                                                        <th style="width:9%">DeliveryBoy</th>
                                                        <th style="width:1%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDispatch" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="margin-top:5%;">
            <div class="panel-heading flex" style="background:#0076d0;padding:1px 5px;">
                <h5 class="text-white">Test Dispatch</h5>
                <span data-dismiss="modal" class="btn-close">x</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group flex">
                            <input type="text" class="form-control bn" id="txtEmpName" style="width:45%" placeholder="Search By Name..">
                            <button id="btnGetEmp" class="btn btn-success bn" style="width:13%">Get</button>&nbsp;&nbsp;
                            <select id="ddlEmployee" class="form-control"></select>
                        </div>
                        <button class="btn btn-warning bn" onclick="Dispatch();"><span class="fa fa-sign-in"></span>Dispatch</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>