
@{
    ViewBag.Title = "PROReferralMapping";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .btn-add {
        width: 14%;
        height: 28px;
        border: none;
    }

    .btn-tbl {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }

    #tblReferralDetails thead {
        white-space: nowrap;
    }
</style>
<style>
    #MiscellaneousModal h3 {
        margin: 0;
        font-size: 18px;
    }

    .box-header.with-border {
        background: #f7f7f7;
        padding: 5px 7px;
        border-bottom: 1px solid #f4f4f4;
    }

    .box {
        border: 1px solid #ddd;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    highlight_row {
        background-color: #d5e7f8;
        color: #000;
    }

    .highlight {
        background-color: red;
    }

    .text-white {
        color: #fff;
        margin: 5px 0px !important;
    }

    .nav > li > a {
        padding: 5px 5px;
        color: #fff;
    }

    .nav > li.active > a {
        color: #fff;
        background: #00bca;
    }

    .nav-tabs {
        padding: 0;
        border: 0;
    }

    .modal-xl {
        width: 1140px !important;
    }

    .panel-heading {
        padding: 1px 4px;
    }



    .modal-header {
        padding: 5px 22px;
        background: #337ab7;
    }

    .close {
        right: 17px;
        position: absolute;
        color: red;
        opacity: 100;
    }
</style>
<script src="~/Areas/Referral/JsModule/PROReferralMapping.js"></script>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding:1px;">
                                <h4 class="text-white">PRO Referral Mapping</h4>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-1 flex">
                                    <label>Select Pro</label>
                                </div>
                                    <div class="col-md-6 flex">
                                       
                                        <select id="ddlEmpCode" class="form-control">
                                            <option>Select</option>
                                        </select>
                                        <button class="btn btn-warning" onclick="GetReferralById()" style="height:27px;width:19%;"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                                    </div>
                                    <hr />
                                    <div class="example-box-wrapper">
                                        <div class="table table-responsive">
                                            <div class="scroll" style="max-height:380px; overflow:auto">
                                                <table id="tblReferralDetails" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 1%;">Ref Code</th>
                                                            <th style="width: 3%;">Ref Name</th>
                                                            <th style="width: 1%;">Degree</th>
                                                            <th style="width: 3%;">Clinic Name</th>
                                                            <th style="width: 2%;">Locality</th>
                                                            <th style="width: 2%;">Speciality</th>
                                                            <th style="width: 1%;">Mobile No</th>
                                                            <th style="width: 5%;">Address</th>
                                                            <th style="width: 1%;"><input type="checkbox" style="margin:0px">
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <hr />
                                            <div class="col-md-4 flex">
                                                <label>PRO</label>
                                                <input type="text" id="txtProCode" autocomplete="off" class="form-control" Placeholder="Search..." />
                                                <button class="btn btn-warning" onclick="FindPRO()" style="height:27px;width:30%;"><i class="fa fa-search">&nbsp;</i>Find</button>
                                            </div>
                                            <div class="col-md-6 flex">
                                                <label style="width:77%;">Select Employee</label>
                                                <select id="ddlPROCode" class="form-control">
                                                    <option>Select</option>
                                                </select>
                                                <button class="btn btn-success" onclick="UpdateReferralByProCode()" style="height:27px;width:32%;"><i class="fa fa-sign-in">&nbsp;</i>Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>