
@{
	ViewBag.Title = "IPDMedicinePrescribed";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/IPOPAudit/JsModule/IPDMedicinePrescribed.js?his-version-1.0"></script>
<script src="~/Content/js/tableHeadFixer.js?his-version-1.0"></script>
<style>
	::-webkit-scrollbar {
		width: 3px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #ccc;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: DodgerBlue;
	}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: DodgerBlue;
		}

	hr {
		margin-top: 35px;
		margin-bottom: 5px;
		border: 0;
		border-top: 1px solid #eee;
	}

	.custom-table {
		width: 100%;
		line-height: 29px;
		font-size: 12px;
	}

	.fileinput.input-group {
		display: flex;
	}

	.text-17 {
		font-size: 17px;
	}

	#AdmittedIPDPatient {
		width: 100%;
		background: #fff;
		overflow: overlay;
		max-height: 510px;
		display: block;
	}

	#IPDReport {
		margin-top: 18px;
		overflow: auto;
		max-height: 510px;
	}

	.panel-body {
		padding: 15px 15px 0px 20px;
		position: relative;
	}

	.table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 5px;
	}
</style>
<div id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="panel">
					<div class="panel-body">
						<div class="col-xs-5">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<input type="text" id="txtSearchPatient" class="form-control input_pass" value="" placeholder="Search...">
							</div>
						</div>
						<div class="col-xs-7">
							<div class="fileinput fileinput-new input-group" data-provides="fileinput">
								<input type="text" id="txtIPDNo" class="form-control input_pass" placeholder="Find By IPD No....">
								<input type="button" id="btnSearch" class="btn-success" value="Get">
							</div>
						</div>
						<hr />
						<div class="example-box-wrapper">
							<div class="form-horizontal bordered-row">
								<div class="table table-responsive">
									<div id="AdmittedIPDPatient">
										<table id="tblAdmittedIPDPatient" class="table table-bordered">
											<thead>
												<tr>
													<th>IPD N.</th>
													<th>Patient Name</th>
													<th>UHID No.</th>
													<th>Doctor</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="panel">
					<div class="panel-body">
						<div class="example-box-wrapper">
							<div class="form-horizontal bordered-row">
								<input type="button" id="btnXLReport" class="btn-warning" value="XL Report">
								<label id="IPDNo" style="display:none"></label>
								<div class="table table-responsive">
									<div id="IPDReport">
										<table id="tblIPDReport" class="table table-bordered">
											<thead><tr></tr></thead>
											<tbody></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

