
<style>
	.Vital-title {
		padding-bottom: 5px;
		border: 1px solid #404040;
		text-align: center;
		color: #000;
		font-family: Verdana, Arial, sans-serif;
		font-weight: bold;
	}

	.Vital-body {
		margin-top: 2px;
		border: 1px solid #404040;
		font-family: Verdana, Arial, sans-serif;
	}

	.btn-flat {
		border-radius: 2px;
		border: none;
		padding: 0;
	}

	.panel-body {
		background: url(http://192.168.4.10/HIS/Images/patter.jpg);
	}
	.flex{
		display:flex;
		white-space:nowrap;
	}
</style>
<div style="padding:0 2px">
	<div class="Vital-title">
		<span>Patient Diagnosis Information</span>
	</div>
	<div class="Vital-body">
		<div class="panel">
			@*<div class="panel-heading" style="background:#0076d0;padding:1px 10px;">
				<p class="text-white">Follow Up : </p>
			</div>*@
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-10 flex">
								<label>Provisional Diagnosis : </label>
								<textarea rows="6" class="form-control border-imp"></textarea>
							</div>
						</div>
						<div class="row">
							<br />
							<div class="col-md-12 text-center">
								<button class="btn-primary btn-md">Save</button>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>