

<meta charset="UTF-8">
<title>Chandan Healthcare Ltd. </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/logo/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/logo/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/logo/logo.png">
<link rel="apple-touch-icon-precomposed" href="~/Content/assets/logo/logo.png">
<link rel="shortcut icon" href="~/Content/assets/logo/logo.png">

<link href="~/Content/css/bootstrap.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/AdminLTE.min.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/helper.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/element.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/widgets.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/admin.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/component.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/responsive-elements.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/admin-responsive.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/custom.css?his-version-1.0" rel="stylesheet" />

<link href="~/Content/fonts/css/font-awesome.min.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/icons/fontawesome/fontawesome.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/icons/linecons/linecons.css?his-version-1.0" rel="stylesheet" />

<script src="~/Content/js-core/jquery-core.js?his-version-1.0"></script>
<script src="~/Content/js-core/jquery-ui-core.js?his-version-1.0"></script>
<script src="~/Content/js-core/jquery-ui-widget.js?his-version-1.0"></script>
<script src="~/Content/js-core/jquery-ui-mouse.js?his-version-1.0"></script>
<script src="~/Content/js-core/jquery-ui-position.js?his-version-1.0"></script>
<script src="~/Content/js-core/modernizr.js?his-version-1.0"></script>
<script src="~/Content/js-core/jquery-cookie.js?his-version-1.0"></script>
<link href="~/Content/css/fix-table.css?his-version-1.0" rel="stylesheet" />
<link href="~/Content/css/select2.css?his-version-1.0" rel="stylesheet" />
<script src="~/Content/js/select2.js?his-version-1.0"></script>
@*<script type="text/javascript">
	$(window).load(function () {
		//$('#loading').hide();
		//setTimeout(function () {
		//	$('#loading').fadeOut(400, "linear");
		//}, 300);
	});
</script>*@
