
@{
	ViewBag.Title = "CreateReferralCoupon";
	Layout = "~/Views/Shared/_layout.cshtml";
}


<script src="~/Areas/Temporary/JsModule/CreateReferralCoupon.js"></script>
<style>
	.active {
		color: green;
	}

	.text-white {
		color: #fff !important;
	}

	hr {
		margin-top: 35px;
		margin-bottom: 5px;
		border: 0;
		border-top: 1px solid #eee;
	}

	.custom-table {
		width: 100%;
		line-height: 29px;
		font-size: 12px;
	}

	.fileinput.input-group {
		display: flex;
	}

	.text-17 {
		font-size: 17px;
	}

	.scroll {
		width: 100%;
		background: #fff;
		overflow: overlay;
		max-height: 480px;
		display: block;
	}

	.panel-body {
		/*box-shadow: 1px 1px 10px #d2d2d2;*/
		border-radius: 10px;
		padding: 5px 3px 0px 3px;
		position: relative;
	}

	.ml15 {
		margin-left: 15px;
	}
</style>
<div id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="ml15">
					<div class="">
						<div class="panel">
							<div class="panel-heading" style="background:#0076d0;padding: 4px;">
								<h4 class="text-white">Search Referral</h4>
							</div>
							<div class="panel-body">
								<div class="col-xs-12">
									<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:flex">
										<input type="text" id="txtSearchReferral" class="form-control input_pass" value="" placeholder="Search Referral">									
									</div>
								</div>
								<hr />
								<div class="example-box-wrapper">
									<div class="form-horizontal bordered-row">
										<div class="table table-responsive">
											<div class="scroll">
												<table id="tblReferral" class="table table-bordered">
													<thead>
														<tr>															
															<th>Referral Id</th>
															<th>Referral Name</th>
															<th>Address</th>
															<th>City</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="ml15">
					<div class="">
						<div class="panel">
							<div class="panel-heading" style="background:#0076d0;padding: 4px;">
								<h4 class="text-white">Create Referral</h4>
							</div>
							<div class="panel-body">
								<div class="col-xs-3">
									<label>Booklet Name</label>
								</div>
								<div class="col-xs-5">
									<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:flex">
										<input type="text" id="txtBookletNo" class="form-control input_pass" value="" placeholder="Code">										
									</div>
								</div>
								<div class="col-xs-4">
									<div class="fileinput fileinput-new input-group" data-provides="fileinput" style="display:flex">									
										<button class="btn btn-success" onclick="GenCoupon()">Save Booklet</button>
									</div>
								</div>
								<hr />
								<div class="example-box-wrapper">
									<div class="form-horizontal bordered-row">
										<div class="table table-responsive">
											<div class="scroll">
												<table id="tblCoupon" class="table table-bordered">
													<thead>
														<tr>
															<th>Booklet No</th>
															<th>Coupon No</th>
															<th>Avail By</th>
															<th>Avail Date</th>
															<th>UHID</th>
															<th>Date</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

