
@{
    ViewBag.Title = "MovementExcel";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Assets/JsModule/asset_movement.js?his-version-1.0"></script>
<div id="page-content">
    <section class="content">
        <div class="box box-purple">
            <div class="col-md-4">
                <input type="submit" id="btnDownloadMovementReport" style="font-size:15px;font-weight:bold" class="btn btn-success btn-block" value="Download Asset Movement Report" />
            </div>
            <div class="col-md-8">
                This will give you all hospital assets along with Alloted Assets and pendency for receiving.
            </div>
        </div>
    </section>
</div>

