
@{
	ViewBag.Title = "CreateGroup";
	Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Accounts/JsModule/Master/CreateGroup.js?his-version-1.0"></script>
<style>
	.active {
		color: green;
	}

	.text-white {
		color: #fff !important;
	}

	hr {
		margin-top: 35px;
		margin-bottom: 5px;
		border: 0;
		border-top: 1px solid #eee;
	}

	.custom-table {
		width: 100%;
		line-height: 29px;
		font-size: 12px;
	}

	.fileinput.input-group {
		display: flex;
	}

	.text-17 {
		font-size: 17px;
	}

	.scroll {
		width: 100%;
		background: #fff;
		overflow: overlay;
		max-height: 480px;
		display: block;
	}

	.panel-body {
		/*box-shadow: 1px 1px 10px #d2d2d2;*/
		border-radius: 10px;
		padding: 5px 3px 0px 3px;
		position: relative;
	}

	.ml15 {
		margin-left: 15px;
	}
</style>
<div id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="ml15">
					<div class="">
						<div class="panel">
							<div class="panel-heading" style="background:#0076d0;padding: 4px;">
								<h4 class="text-white">Group List</h4>
							</div>
							<div class="panel-body">
								<div class="col-xs-3">
									<span class="btn btn-success" onclick="GetGroups()">Load List</span>
								</div>
								<div class="col-xs-3">
									<span class="text-pink">Search</span>
								</div>
								<div class="col-xs-6">
									<div class="fileinput fileinput-new input-group" data-provides="fileinput">
										<input type="text" id="txtSearch" class="form-control input_pass" value="" placeholder="Search...">
									</div>
								</div>
								<hr />
								<div class="example-box-wrapper">
									<div class="form-horizontal bordered-row">
										<div class="table table-responsive">
											<div class="scroll">
												<table id="tblGroup" class="table table-bordered">
													<thead>
														<tr>															
															<th>Group Id</th>
															<th>Group Name</th>														
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="">
					<div class="">
						<div class="panel">
							<div class="panel-heading" style="background:#0076d0;padding: 4px;">
								<input type="button" onclick="Clear()" class="btn btn-success" value="New" />
								<h4 class="text-white pull-right">Create Group</h4>
							</div>
							<div class="panel-body" style="background:#fff;padding: 8px 20px;">
								<div class="col-md-6">
									<div class="form-group">
										<label>Main Group</label>
									<select id="ddlMainGroup" class="form-control"></select>									
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Sub Group</label>
										<input type="text" id="txtSubGroupName" class="form-control text-uppercase" placeholder="Sub Group Name" />
									</div>
								</div>								
								<div class="col-md-12">
									<div class="form-group">
										<input type="button" id="btnSaveGroup" class="btn btn-success pull-right" onclick="CreatePrimaryGroups()" value="Submit" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

