
<table style="width:100%">
   <tr>
        <td style="width:100%;vertical-align:top;">
            <table style="width:100%;">
                <tr><td style="width:20%;height:22px;vertical-align:middle;text-align:center"> <img src="~/images/ChandanLogo.jpg" /></td></tr>
                <tr><td style="width:20%;height:22px;vertical-align:middle;;font-size:12pt;font-family:Tahoma;text-align:center">Chandan Healthcare Ltd.</td></tr>
            </table> <br /><br /><br />
        </td>
    </tr>
   <tr>
        <td style="width:100%;vertical-align:top;">
            <table style="width:100%;">
                <tr><td style="width:20%;height:22px;vertical-align:middle;font-size:12pt;font-family:Tahoma">&nbsp;&nbsp;&nbsp;Request No </td><td style="width:80%;height:22px;vertical-align:middle">: <b>123457</b> </td></tr>
                <tr><td style="width:20%;height:22px;vertical-align:middle;font-size:12pt;font-family:Tahoma">&nbsp;&nbsp;&nbsp;Date</td><td style="width:80%;height:22px;vertical-align:middle">:<b> March 31,2021</b> </td></tr>
            </table> <br /><br /><br />
        </td>
    </tr>
   <tr>
        <td style="width:100%;vertical-align:top;">
            <table style="width:100%;">
                <tr><td style="width:20%;height:22px;vertical-align:middle;text-align:center"><h3> TO WHOMSOEVER IT MAY CONCERN </h3> </td></tr>
            </table><br /><br /><br />
        </td>
    </tr>
   <tr>
        <td style="width:100%;vertical-align:top;">
            <table style="width:100%;">
                <tr><td style="width:20%;height:22px;vertical-align:middle;text-align:left;font-size:12pt;font-family:Tahoma">This is to certify that Mr.Ajeet Kumar Maurya  (Identification No : CHCL-00631 ),Vice President [IT] is an employee with us since 01/06/2007 </td></tr>
            </table><br /><br />
        </td>
    </tr>
   <tr>
        <td style="width:100%;vertical-align:bottom;height:500px">
            <table style="width:100%;">
                <tr><td style="width:20%;height:30px;vertical-align:middle;text-align:left;font-size:12pt;font-family:Tahoma">&nbsp;&nbsp;&nbsp; This certificate is issued at employee's request </td></tr>
                <tr><td style="width:20%;height:30px;vertical-align:middle;text-align:left;font-size:12pt;font-family:Tahoma">&nbsp;&nbsp;&nbsp; For Verification of this letter, you can get in touch with hr@chandan.co.in</td></tr>
                <tr><td style="width:20%;height:30px;vertical-align:middle;;font-size:12pt;font-family:Tahoma;text-align:left"><br /> <br />&nbsp;&nbsp;&nbsp;Chandan Healthcare Ltd.</td></tr>
                <tr><td style="width:20%;height:30px;vertical-align:middle;;font-size:12pt;font-family:Tahoma;text-align:left">&nbsp;&nbsp;&nbsp;(Division of Chandan Healthcare Ltd)</td></tr>
                <tr><td style="width:20%;height:22px;vertical-align:middle;text-align:left">&nbsp;&nbsp;&nbsp; <img src="~/images/ChandanLogo.jpg" /></td></tr>
                <tr><td style="width:20%;height:22px;vertical-align:middle;;font-size:12pt;font-family:Tahoma;text-align:left">&nbsp;&nbsp;&nbsp;Aasti Singh  Director (Finance) </td></tr>
            </table> <br /><br /><br />
        </td>
    </tr>
   <tr>
        <td style="width:100%;vertical-align:top;vertical-align:bottom;height:350px">
            <hr />
            <table style="width:100%;">

                <tr><td style="width:20%;height:22px;vertical-align:middle;;font-size:12pt;font-family:Tahoma;text-align:left">&nbsp;&nbsp;&nbsp;Chandan Healthcare Ltd.</td></tr>
                <tr><td style="width:20%;height:22px;vertical-align:middle;text-align:left">&nbsp;&nbsp;&nbsp;  Address :Biotech park kursiroad jankipuram Lucknow</td></tr>
                <tr><td style="width:20%;height:22px;vertical-align:middle;;font-size:12pt;font-family:Tahoma;text-align:left">&nbsp;&nbsp;&nbsp;Phone : 052665897456</td></tr>
            </table>
        </td>
    </tr>
</table>
