@{
    ViewBag.Title = "ConsumeStock";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Warehouse/JsModule/Consumption/Consumption.js?his-version-1.2"></script>
<style>
    .panel {
        margin: 10px 0 0 15px !important;
    }

    .panel-body {
        border: 1px solid #e1dede;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    .text-white {
        color: #fff;
    }

    .divcenter {
        box-shadow: 1px 1px 1px #ececec;
        overflow: hidden;
        overflow-x: hidden;
        position: absolute;
        z-index: 1;
        background: #efefef;
        top: 50px;
        left: 26%;
        right: 26%;
        display: none;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    #ItemList {
        box-shadow: 1px 1px 1px #ececec;
        border: 0.5px solid #ececec;
        width: 313px;
        max-width: 313px;
        max-height: 300px;
        overflow-x: hidden;
        position: absolute;
        z-index: 1;
        background: #fff;
        top: 49px;
    }

    #divpopup {
        box-shadow: 0px 1px 3px #c1c1c1;
        border: 2px solid #b1c5d4;
    }

    #ItemList table {
        font-size: 11px;
        line-height: 22px;
        width: 100%;
    }

        #ItemList table td, #ItemListDetails table td, #ItemListDetails table th {
            padding: 1px 0px 0px 10px;
        }

        #ItemList table tbody tr, #ItemListDetails table tbody tr {
            border-bottom: 0.1px solid #eaeaea;
        }

    #tblStock tbody tr td:nth-child(1) {
        width: 19% !important;
    }

    .m0 {
        margin: 0;
    }
</style>

<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <p class="text-white m0">ConsumeStock</p>
                            </div>
                            <div class="panel-body" style="background:#fff;">
                                <div class="col-xs-4">
                                    <label>Select Cart</label>
                                    <div class="form-group">
                                        <select id="ddlCartList" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <label>Issue To</label>
                                    <div class="form-group" style="display:flex">
                                        <input type="text" class="form-control" id="txtEmpName" placeholder="Search By Name..">
                                        <button id="btnGetEmp" class="btn-flat btn-success">Get</button>&nbsp;&nbsp;
                                        <select id="ddlEmployee" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="example-box-wrapper">
                                    <div class="form-group col-md-3">
                                        <label for="name" class="control-label">Product Name</label>
                                        <input type="text" class="form-control" id="txtItemName" autocomplete="off" placeholder="Product Name">
                                        <input type="hidden" id="hiditemId" />
                                        <input type="hidden" id="hidmasterkey" />
                                        <div id="ItemList" style="display:none">
                                            <table id="tblnavigate">
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="name" class="control-label">In Stock</label>
                                        <input type="text" class="form-control" id="txtInStock" placeholder="In Stock">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="name" class="control-label">Pack Type</label>
                                        <input type="text" class="form-control" id="txtPackType" placeholder="Pack Type">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="name" class="control-label">Pack Qty</label>
                                        <input type="text" class="form-control" id="txtPackQty" placeholder="Pack Qty">
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="name" class="control-label">Quantity</label>
                                        <input type="text" class="form-control" id="txtQty" placeholder="Quantity">
                                    </div>

                                    <div class="col-sm-1">
                                        <div class="col-sm-4">
                                            <label>&nbsp;&nbsp;&nbsp;</label>
                                            <button id="btnStockTransaction" type="button" class="btn btn-primary btn-flat" onclick="return AddStock();"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>

                                    <div id="divpopup" class="divcenter table-responsive">
                                        <table id="tblStock" class="table table-bordered">
                                            <thead>
                                                <tr class="text-left">
                                                    <th>Master-Key-Id</th>
                                                    <th>Pack Type</th>
                                                    <th>Batch No</th>
                                                    <th>Pack Qty</th>
                                                    <th>Expiry Date</th>
                                                    <th>Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr />
                                <div class="example-box-wrapper">
                                    <div class="form-horizontal bordered-row">
                                        <div class="table table-responsive">
                                            <div class="scroll">
                                                <table id="tblStockTransaction" class="table table-bordered">
                                                    <thead>
                                                        <tr class="text-left">
                                                            <th>Cart Name</th>
                                                            <th>Master-Key-Id</th>
                                                            <th>Item Name</th>
                                                            <th>Pack Type</th>
                                                            <th>Pack Qty.</th>
                                                            <th>Batch No</th>
                                                            <th>Expiry Date</th>
                                                            <th>Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
