@{
    ViewBag.Title = "ItemDispatch";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/CSSD/JsModule/Movement/ItemDispatch.js?ver=1.2"></script>
<style>
    #tblSetInfo a {
        font-size: 10px;
        background: #bb8409;
        cursor: pointer;
        color: #fafcfe;
        border-radius: 2px;
        font-weight: 500;
        padding: 0px 4px;
    }

    .text-num {
        background: #ffe2d9;
        width: 100%;
        text-align: right;
        border: 1px solid #797979;
    }

    .ind-title {
        margin: 5px;
        background: #e4e4e4;
        padding: 9px;
        font-size: 14px;
        width: 100%;
    }

    .linen-title {
        padding: 5px 10px;
        background: #c6ffaf;
        font-size: 13px;
        font-weight: 600;
    }

    .bg1 {
        background: #ffc1c1;
    }

    .bg2 {
        background: #e2efff;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 550px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <input type="button" onclick="GetPendingRequest();" class="btn btn-default" value="Get Pending Request" />
                                <h4 class="text-white pull-right">Pending Request List</h4>
                            </div>
                            <div class="panel-body" style="background:#fff;">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group flex bc">
                                            <button class="btn btn-success bn" style="width:23%;">Search</button>
                                            <input type="text" id="txtSearch" autocomplete="off" class="form-control bn" placeholder="Search.." />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="scroll" style="padding-bottom: 7px;display: block;border: 1px solid #009688;height:500px;overflow:auto">
                                            <table class="table table-bordered" id="tblIndentInfo">
                                                <thead>
                                                    <tr>
                                                        <th style="width:1%">SR.No</th>
                                                        <th style="width:10%">Set Id</th>
                                                        <th>Set Name</th>
                                                        @*
                                                        <th style="width:15%;text-align:right;padding-right:10px">Cart Stock</th>*@
                                                        <th style="width:15%;text-align:right;padding-right:10px">Req. Qty</th>
                                                        @*
                                                        <th style="width:12%">Action</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <h4 class="text-white">Selected Request Info</h4>
                            </div>
                            <div class="panel-body" style="background:#fff;">
                                <div class="row">
                                    <div class="col-md-9">
                                        <label class="ind-title"><b>Indent No : &nbsp;</b><span id="txtIndentNo"></span></label>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-warning pull-right bn" id="btnDispatch" onclick="Dispatch()" style="margin:8px 7px 12px;"><i class="fa fa-sign-in">&nbsp;</i>Dispatch</button>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="scroll" style="padding-bottom: 7px;display: block;border: 1px solid #009688;height:150px;overflow:auto">
                                            <table class="table table-bordered" id="tblSetInfo">
                                                <thead>
                                                    <tr>
                                                        <th style="width:1%">#</th>
                                                        <th style="width:10%">Set Id</th>
                                                        <th>Set Name</th>
                                                        <th style="width:19%;">Batch No</th>
                                                        <th style="width:14%;">Exp Date</th>
                                                        <th style="width:10%;text-align:right">Qty</th>
                                                        <th style="width:5%;">Status</th>
                                                        @*
                                                        <th style="width:12%">Action</th>*@
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="background:#fff;">
                                <p class="text-success linen-title">Linen Dispatch</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Linen</label>
                                            <select id="ddlLinenInfo" class="form-control bn"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Stock</label>
                                            <input type="text" id="txtLLStock" disabled="disabled" class="form-control text-right bn" data-int placeholder="0" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Qty</label>
                                            <div class="flex">
                                                <input type="text" id="txtLLQty" class="form-control text-right bn" data-int placeholder="0" />
                                                <button type="button" id="btnAddLinen" class="btn bn btn-warning" style="border:none;width:65%">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="scroll" style="padding-bottom: 7px;display: block;border: 1px solid #009688;height:261px;overflow:auto">
                                            <table class="table table-bordered" id="tblLinenInfo">
                                                <thead>
                                                    <tr>
                                                        <th style="width:1%">SR.No</th>
                                                        <th style="width:10%">Item Id</th>
                                                        <th>Item Name</th>
                                                        <th style="width:15%;text-align:right;padding-right:10px">Qty</th>
                                                        <th style="width:1%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTracking" tabindex="-1" role="dialog" aria-labelledby="True">
    <div class="modal-dialog modal-lg" style="width: 1150px;">
        <div class="modal-content" style="margin-top:5%;">
            <div class="panel-heading flex" style="background:#0076d0;padding:5px 10px">
                <h5 class="text-white">Tracking Status</h5>
                <span data-dismiss="modal" class="btn-close">x</span>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="scroll" style="border: 1px solid #2478a9;height:300px">
                            <table id="tblTrackingInfo" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Trn Type</th>
                                        <th>Batch No</th>
                                        <th>Doc Date</th>
                                        <th>Exp Date</th>
                                        <th>SetId</th>
                                        <th>From Cart</th>
                                        <th>To Cart</th>
                                        <th>IPD No</th>
                                        <th>Patient Name</th>
                                        <th>Doctor Name</th>
                                        <th>Employee Name</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="scroll" style="border: 1px solid #2478a9;height:200px;margin-top: 10px;">
                            <label>Set Inspection Info</label>
                            <table id="tblInspectionInfo" class="table table-bordered">
                                <thead></thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>