
@{
    ViewBag.Title = "ConsultationRateList";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/EDP/JsModule/ConsultationRateList.js?v1.1"></script>
<style>
    .section-header {
        background: #ffffff;
        min-height: 570px;
        max-height: 570px;
        padding: 3px;
        margin-bottom: 3px;
        border: 1px solid #2478a9;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 3px 63px 2px 6px;
        top: 3px;
        position: relative;
    }

        .title:after {
            position: absolute;
            top: 0px;
            right: 0px;
            content: '';
            border-right: -2px solid transparent;
            border-left: 25px solid transparent;
            border-top: 25px solid #fff;
        }

    .category {
        font-weight: bold;
        background: #fafcfe;
        display: flow-root;
        border: 1px solid #2478a9;
    }

    .section {
        min-height: 142px;
        max-height: 142px;
        overflow: auto;
        margin-bottom: 5px;
        border: 1px solid #2478a9;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }


    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ml15">
                    <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Doctor List</span></div>
                    <div class="section-header">
                        <div class="row">
                            <div class="col-md-7">
                                <label>
                                    <input type="radio" name="status" value="OPD" checked />OPD
                                </label>
                                <label>
                                    <input type="radio" name="status" value="IPD" />IPD
                                </label>                              
                            </div>
                            <div class="col-md-5">
                                <input type="text" id="txtSearch" autocomplete="off" class="form-control" placeholder="Search.." />
                            </div>
                        </div>
                        <hr style="margin:5px;" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <div class="scroll" style="min-height:513px;overflow:auto">
                                        <table id="tblDoctorsList" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:3%">Doctor Id</th>
                                                    <th style="width:25%">Doctor Name</th>
                                                    <th style="width:1%"><label class="switch"><input type="checkbox" class="statusflag" onchange="BindDoctorList(($(this).is(':checked')?'Y':'N'))" id="chkActive" checked=""><span class="slider round"></span></label></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Rate List</span></div>
                        <div class="section-header" style="min-height: 270px;max-height: 270px;">
                            <input type="text" id="txtSearchRateList" style="border-radius: 0;border-color: #06a08b;" class="form-control" placeholder="Search Rate Panel List" />
                            <div class="table-responsive" style="height:230px;overflow:auto;overflow-y:scroll">
                                <table class="table table-bordered" id="tblPanels">
                                    <thead>
                                        <tr>
                                            <th style="width:1%"><input type="checkbox" id="chkallPanels" class="checkbox" /></th>
                                            <th>Panels</th>
                                            <th style="width:1%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Visits</span></div>
                        <div class="section-header" style="min-height: 270px;max-height: 270px;">
                            <div class="table-responsive" style="height:260px;overflow:auto;overflow-y:scroll">
                                <table class="table table-bordered" id="tblVisit">
                                    <thead>
                                        <tr>
                                            <th style="width:1%">Select</th>
                                            <th style="width:60%">Visit</th>
                                            <th>Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Room Billing Category</span></div>
                        <div class="section-header" style="min-height: 275px;max-height: 275px;">
                            <div class="table-responsive" style="height:260px;overflow:auto;overflow-y:scroll">
                                <table class="table table-bordered" id="tblRoomType">
                                    <thead>
                                        <tr>
                                            <th style="width:1%"><input type="checkbox" id="chkallRooms" class="checkbox" /></th>
                                            <th>Category</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Panel Rate List</span></div>
                        <div class="section-header" style="min-height: 275px;max-height: 275px;">
                            <div class="flex" style="margin: 2px 6px;">
                                <input type="text" id="txtSearchPanelRateList" style="border-radius: 0;border-color: #06a08b;" class="form-control" placeholder="Search Rate Panel List" />
                                <button id="btnRateList" style="width: 15%;height: 28px;margin: 0;border-radius: 0;" type="button" class="btn btn-primary btn-xs" onclick="SaveRateList()"><i class="fa fa-sign-in">&nbsp;</i>Save</button>
                            </div>
                            <div class="table-responsive" style="height:235px;overflow:auto;overflow-y:scroll">
                                <table class="table table-bordered" id="tblPanelRateList">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Rates</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

