@{
    ViewBag.Title = "PanelRateLink";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/EDP/JsModule/PanelRateLink.js"></script>

<style>
    .section-header {
        background: #ffffff;
        min-height: 570px;
        max-height: 570px;
        padding: 3px;
        margin-bottom: 3px;
        border: 1px solid #2478a9;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 3px 63px 2px 6px;
        top: 3px;
        position: relative;
    }

        .title:after {
            position: absolute;
            top: 0px;
            right: 0px;
            content: '';
            border-right: -2px solid transparent;
            border-left: 25px solid transparent;
            border-top: 25px solid #fff;
        }

    .category {
        font-weight: bold;
        background: #fafcfe;
        display: flow-root;
        border: 1px solid #2478a9;
    }

    .section {
        min-height: 142px;
        max-height: 142px;
        overflow: auto;
        margin-bottom: 5px;
        border: 1px solid #2478a9;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }


    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>

<div id="page-content">      
    <div class="row">
        <div class="ml15">
            <div class="col-md-6">
                <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Panel Rate Link</span></div>
                <div class="section-header">
                    <div class="row">
                        <div class="col-sm-5 form-group">
                            <label>Panel</label>
                            <select id="ddlPanel" class="form-control border-imp" onchange="onPanelChange()"></select>
                        </div>
                        <div class="col-sm-5 form-group">
                            <label>Rate List</label>
                            <select id="ddlRateList" class="form-control border-imp"></select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label>SR. NO.</label>
                            <div class="flex">
                                <input type="text" id="txtSno" style="border: 1px solid #00a65a;border-radius: 0;" placeholder="S.No." class="form-control" />
                                <button id="btnLinkPanelRate" class="btn btn-success" style="border-radius: 0;margin:0;height:28px" onclick="InsertUpdatePanelRateLink()"><i class="fa fa-sign-in">&nbsp;</i></button>
                            </div>                            
                        </div>                      
                    </div>
                    <div class="table-responsive" style="min-height:495px;overflow:auto;border: 1px solid #2478a9;">
                        <table class="table table-bordered" id="tblRateLinkDetails">
                            <thead>
                                <tr>
                                    <th style="width:85%">Rate List</th>
                                    <th>S. No.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">DownLoad Upload Panel Rate List</span></div>
                        <div class="section-header" style="min-height: 125px;max-height: 155px;margin-bottom:15px;padding:10px;">
                            <div class="row">
                                <div class="col-md-11">
                                    <label>Rate List</label>
                                    <div class="flex">
                                        <select id="ddlBulkRatePanel" class="form-control border-imp"></select>
                                        <button id="btnDownloadExcel" class="btn btn-warning" style="width:27%;height:27px" onclick="DownloadPanelRateList()"><i class="fa fa-download">&nbsp;</i>Download Excel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <label>Select File</label>
                                    <div class="flex">
                                        <input type="file" id="ExcelImage" class="form-control" />
                                        <button id="btnuploadExcel" class="btn btn-success" style="width:27%;height:27px" onclick="UploadPanelRateList()"><i class="fa fa-upload">&nbsp;</i>Upload Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Copy Rate List</span></div>
                        <div class="section-header" style="min-height: 95px;max-height: 95px;margin-bottom:15px;padding:15px;">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Rate List Copy From</label>
                                    <select id="ddlRateListCopyFrom" class="form-control border-imp"></select>                                   
                                </div>
                                <div class="col-md-8">
                                    <label>Rate List Copy To</label>
                                    <div class="flex">
                                        <select id="ddlRateListCopyTo" class="form-control border-imp"></select>
                                        <button id="btnCopyRateList" class="btn btn-warning" onclick="CopyRateList()" style="height:27px"><i class="fa fa-copy">&nbsp;</i>Copy</button>
                                    </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
