
@{
    ViewBag.Title = "RoomCharges";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/EDP/JsModule/RoomCharges.js"></script>
<style>
    .section-header {
        background: #ffffff;
        min-height: 570px;
        max-height: 570px;
        padding: 3px;
        margin-bottom: 3px;
        border: 1px solid #2478a9;
    }

    .title {
        background: #2478a9;
        color: #fff;
        padding: 3px 63px 2px 6px;
        top: 3px;
        position: relative;
    }

        .title:after {
            position: absolute;
            top: 0px;
            right: 0px;
            content: '';
            border-right: -2px solid transparent;
            border-left: 25px solid transparent;
            border-top: 25px solid #fff;
        }

    .category {
        font-weight: bold;
        background: #fafcfe;
        display: flow-root;
        border: 1px solid #2478a9;
    }

    .section {
        min-height: 142px;
        max-height: 142px;
        overflow: auto;
        margin-bottom: 5px;
        border: 1px solid #2478a9;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }


    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ml15">
                    <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Rate List</span></div>
                    <div class="section-header" style="min-height:560px;max-height:560px;">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="text" id="txtSearchRateList" autocomplete="off" class="form-control" placeholder="Search.." />
                            </div>
                        </div>
                        <hr style="margin:5px;" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table table-responsive">
                                    <div class="scroll" style="min-height:510px;overflow:auto">
                                        <table id="tblRateList" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="width:3%"><input onchange="$(this).parents('table').find('tbody').find('input[type=checkbox]').prop('checked', $(this).is(':checked'));" type="checkbox" /></th>
                                                    <th style="width:25%">Rate List Name</th>
                                                    <th style="width:1%">CMD</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="category"><span class="title" style="top:0;padding:0px 50px 0px 6px">Rate List</span></div>
                <div class="section-header" style="min-height:560px;max-height:560px;">
                    <div class="flex" style="margin: 2px 6px;">
                        <input type="text" id="txtSearchCategory" style="border-radius: 0;border-color: #06a08b;" class="form-control" placeholder="Search Rate Panel List" />
                        <button id="btnRateList" style="width: 15%;height: 28px;margin: 0;border-radius: 0;" type="button" class="btn btn-primary btn-xs" onclick="RoomChargesUpdate()"><i class="fa fa-sign-in">&nbsp;</i>Save</button>
                    </div>
                    <hr style="margin:5px;" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table table-responsive">
                                <div class="scroll" style="min-height:510px;overflow:auto">
                                    <table id="tblCategory" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:3%"><input onchange="$(this).parents('table').find('tbody').find('input[type=checkbox]').prop('checked', $(this).is(':checked'));" type="checkbox" /></th>
                                                <th style="width:20%">Category</th>
                                                <th style="width:20%">Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>

