
@{
    ViewBag.Title = "Manufacturer Master";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Warehouse/JsModule/Master/ManufacturerMaster.js?his-version-1.0"></script>
<style>
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: DodgerBlue;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: DodgerBlue;
        }

    .text-white {
        color: #fff !important;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 480px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <h4 class="text-white">Manufacturer List</h4>
                            </div>
                            <div class="panel-body">
                                <div class="col-xs-3">
                                    <span class="btn btn-success" onclick="GetManufacturerList()">Load List</span>
                                </div>
                                <div class="col-xs-3">
                                    <span class="text-pink">Search</span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <input type="text" id="txtSearch" class="form-control input_pass" value="" placeholder="Search...">
                                    </div>
                                </div>
                                <hr />
                                <div class="example-box-wrapper">
                                    <div class="form-horizontal bordered-row">
                                        <div class="table table-responsive">
                                            <div class="scroll">
                                                <table id="tblManufacturer" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:1%">ID</th>
                                                            <th>Manufacturer</th>                                                                                                                                                          
                                                            <th style="width:1%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <input type="button" onclick="Clear()" class="btn btn-success" value="New" />
                                <h4 class="text-white pull-right">Create Manufacturer</h4>
                            </div>
                            <div class="panel-body" style="background:#fff;padding: 8px 20px;">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Manufacturer Name</label>
                                        <input type="text" id="txtManufName" class="form-control" data-imp placeholder="Manufacturer Name" />
                                        <span data-mfdid style="display:none"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contact No.</label>
                                        <input type="text" id="txtContactNo" maxlength="12" onkeyup=" if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g, '');" class="form-control" placeholder="Contact No." />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" id="txtAddress" class="form-control" placeholder="Address" />
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>Remark</label>
                                        <textarea id="txtRemark" class="form-control" placeholder="Remark"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-control" style="visibility:hidden"></label>
                                        <input type="button" id="btnSaveManufacturer" class="btn btn-success" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

