
@{
	ViewBag.Title = "LLReturn";
	Layout = "~/Views/Shared/_layout.cshtml";
}

<style>
	.panel {
		margin: 10px 0 0 15px !important;
	}

	.panel-body {
		border: 1px solid #e1dede;
	}

	.form-group {
		margin-bottom: 5px;
	}

	.selected {
		background: DodgerBlue !important;
		color: #fff;
	}

	.text-white {
		color: #fff;
	}

	.divcenter {
		box-shadow: 1px 1px 1px #ececec;
		overflow: hidden;
		overflow-x: hidden;
		position: absolute;
		z-index: 1;
		background: #efefef;
		top: 50px;
		left: 26%;
		right: 26%;
		display: none;
	}

	.selected {
		background: DodgerBlue !important;
		color: #fff;
	}

	#ItemList {
		box-shadow: 1px 1px 1px #ececec;
		border: 0.5px solid #ececec;
		width: 313px;
		max-width: 313px;
		max-height: 300px;
		overflow-x: hidden;
		position: absolute;
		z-index: 1;
		background: #fff;
		top: 49px;
	}

	#divpopup {
		box-shadow: 0px 1px 3px #c1c1c1;
		border: 2px solid #b1c5d4;
	}

	#ItemList table {
		font-size: 11px;
		line-height: 22px;
		width: 100%;
	}

		#ItemList table td, #ItemListDetails table td, #ItemListDetails table th {
			padding: 1px 0px 0px 10px;
		}

		#ItemList table tbody tr, #ItemListDetails table tbody tr {
			border-bottom: 0.1px solid #eaeaea;
		}

	#tblStock tbody tr td:nth-child(1) {
		width: 19% !important;
	}

	.m0 {
		margin: 0;
	}
</style>
<script src="~/Areas/LinenLaundry/JsModule/LLReturn.js"></script>
<div id="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="">
					<div class="">
						<div class="panel">
							<div class="panel-heading" style="background-color:cornflowerblue;padding: 4px;">
								<p class="text-white m0">LINEN Return</p>
							</div>
							<div class="panel-body" style="background:#fff;">
								<div class="col-xs-4">
									<label>From Cart</label>
									<div class="form-group">
										<select id="ddlFromCart" class="form-control" onchange="TransferToCart();"></select>
									</div>
								</div>
								<div class="col-xs-4">
									<label>To Cart</label>
									<div class="form-group">
										<select id="ddlToCart" class="form-control"></select>
									</div>
								</div>
								<div class="col-xs-4">
									<label>Lot No</label>
									<div class="form-group" style="display:flex">
										<input type="text" class="form-control" id="txtLotNo" value="New" readonly="readonly" />
										<input type="button" style="width:40%" class="btn btn-success" onclick="DispatchComplete()" value="Complete" />
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="example-box-wrapper">
									<div class="form-group col-md-6">
										<label for="name" class="control-label">Product Name</label>
										<select id="ddlProductList" class="form-control" onchange="GetStocks();"></select>
									</div>

									<div class="form-group col-md-2">
										<label for="name" class="control-label">In Stock</label>
										<input type="text" class="form-control" id="txtInStock" readonly="readonly" placeholder="In Stock">
									</div>
									<div class="form-group col-md-2">
										<label for="name" class="control-label">Quantity</label>
										<input type="text" class="form-control" id="txtQty" data-int autocomplete="off" placeholder="Quantity">
									</div>

									<div class="col-sm-1">
										<div class="col-sm-4">
											<label>&nbsp;&nbsp;&nbsp;</label>
											<button id="btnDispatch" type="button" class="btn btn-primary btn-flat" onclick="Dispatch();"><i class="fa fa-plus"></i></button>
										</div>
									</div>

								</div>
								<hr />
								<div class="example-box-wrapper">
									<div class="form-horizontal bordered-row">
										<div class="table table-responsive">
											<div class="scroll" style="max-height:350px;">
												<table id="tblItemByLot" class="table table-bordered">
													<thead>
														<tr class="text-left">
															<th>ItemId</th>
															<th>Item Name</th>
															<th>Qty</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody></tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

