
@{
    ViewBag.Title = "LabTemplate";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/Lab/JsModule/Master/LabTemplate.js"></script>

<style type="text/css">

    .p {
        margin: 0 !important
    }

    .panel {
        margin-bottom: 5px !important;
    }

    .panel-heading {
        padding: 1px 5px;
    }

    .panel-body {
        padding: 5px 0;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form-control {
        height: 20px;
        padding: 2px !important
    }

    h4, .h4, h5, .h5, h6, .h6 {
        margin-top: 2px;
        margin-bottom: 2px;
        color: #fff;
        font-size: 15px;
    }

    .btn-xs {
        height: 20px
    }

    .navbar {
        min-height: 37px;
        margin-bottom: 2px;
    }

    .navbar-form {
        padding: 0;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .multiselect {
        width: 432px;
        height: 20px;
        border: solid 1px #c0c0c0;
        overflow: auto;
        text-align: left;
        /*margin-top: 22px;*/
        font-size: 12px;
        font-weight: 600;
    }

    .open > .dropdown-menu {
        display: block;
        /*width: 100%;*/
        height: 250px;
        overflow: scroll;
        background: #9bcbfb;
    }
    #cke_1_contents {
        height:345px !important;
    }
</style>

<div id="page-content">
    <nav class="navbar navbar-light" style="background-color: #86b3de;">
        <div class="container-fluid">
            <div class="navbar-form navbar-left">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Department:</label>
                        <select id="ddlTestSubCategory" class="form-control" style="width:150px"></select>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Status:</label>
                        <select id="ddlStatus" class="form-control" style="width:100px">
                            <option value="Y">Active</option>
                            <option value="N">De-active</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-xs btn-success" onclick="SearchBySubCategory()"><i class="fa fa-search fa-lg"></i></button>
                </div>
            </div>
            <div class="navbar-form navbar-right">
                <div class="form-inline">
                    @*<button type="submit" class="btn btn-xs btn-warning btn-flat">New</button>*@
                </div>
            </div>
        </div>
    </nav>


    <div class="col-lg-3">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Test Details</h4>
                </div>
                <div class="panel-body" style="height:530px;overflow:auto; border: 1px solid #86b3de;">
                    <input type="text" id="txtSearch" class="form-control" autocomplete="off" placeholder="Search Test" style="border:1px solid #86b3de" />
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblTestDetails">
                            <thead>
                                <tr>
                                    <th>Test Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-sm-3 form-group">
                        <label>Template Name</label>
                        <input type="text" id="txtTemplateName" class="form-control" style="border:1px solid #86b3de" />
                    </div>

                    <div class="col-sm-1 form-group">
                        <button type="submit" style="margin: 22px 0 0 0;" class="btn btn-xs btn-success" onclick="AddTemplate()">Add</button>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label>Template List</label>
                        <select id="ddlTemplateList" class="form-control" style="border:1px solid #86b3de">
                        </select>
                    </div>

                    <div class="col-sm-1 form-group">
                        <button type="submit" style="margin: 22px 0 0 0;" class="btn btn-xs btn-success" onclick="ViewTemplateContent()">View</button>
                    </div>

                    <div class="col-sm-1 form-group">
                        <button type="submit" style="margin: 22px 0 0 0;" class="btn btn-xs btn-warning" onclick="AddTemplateContent()">Save</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="panel panel-primary" style="height:490px;">
                <div class="panel-body">
                    <div class="col-sm-12 form-group">
                        <textarea class="form-control" id="txtTemplate" placeholder="Describe Test Interpretation here..."></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    window.onload = function () {
        CKEDITOR.replace('txtTemplate',
            {
                enterMode: CKEDITOR.ENTER_BR,
                shiftEnterMode: CKEDITOR.ENTER_P,
            });
    }
</script>