
@{
    ViewBag.Title = "ComplaintApproval";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<script src="~/Areas/Assets/JsModule/ComplaintApproval.js?mis-version-1.0"></script>
<style>
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: DodgerBlue;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: DodgerBlue;
        }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .panel-body {
        padding: 15px 15px 0px 20px;
        position: relative;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        max-height: 510px;
        overflow: auto;
        overflow-y: auto;
    }

    .btnArrow {
        background: #06aaa8;
        color: #FFF;
        border: none;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-2">
                            <span class="text-pink">Find : </span>
                        </div>
                        <div class="col-md-4">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <input type="text" id="txtSearchComplaint" class="form-control input_pass" value="" placeholder="Search in List..." />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <input type="text" id="txtEqNo" class="form-control input_pass" value="" placeholder="Eq No Or Compl Code.." />
                                <button id="btnSearch" class="btn btn-success">Search</button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="example-box-wrapper">
                                <div class="form-horizontal bordered-row">
                                    <div class="scroll">
                                        <table id="tblAssetComplaint" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Asset No.</th>
                                                    <th>Complaint No.</th>
                                                    <th>Category</th>
                                                    <th>Name Of Assets</th>
                                                    <th>Complaint</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel">
                    <div class="panel-body">
                        <div class="panel">
                            <div class="panel-heading" style="background:#dff3ff">
                                <h4 class="text-center">Complaints Approval</h4>
                            </div>
                            <div class="panel-body" style="background:#fff;padding: 8px 20px;">
                                <div class="table-responsive">
                                    <table class="table-striped custom-table">
                                        <tr>
                                            <td> <b>Dept. : </b><span data-dept></span></td>
                                            <td><b>Section : </b><span data-section></span></td>
                                            <td><b>Eq. No. : </b><span data-eqno></span></td>
                                            <td> <b>Category : </b><span data-eqcategory></span></td>
                                            <td> <b>compl code : </b><span data-complcode></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"> <b>Description : </b><span data-description></span></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"> <b>Note : </b><span data-note></span></td>
                                        </tr>
                                    </table>
                                </div>
                                <hr style="margin:0 0 10px 0;" />
                                <div class="table-responsive">
                                    <table class="table table-striped custom-table" id="tblRemark">
                                        <thead>
                                            <tr>
                                                <th>Remark By</th>
                                                <th>Remarks</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                @*<hr style="margin:0 0 10px 0;" />
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="fileinput-new" data-provides="fileinput">
                                            <label>Remark : </label>
                                            <textarea id="txtRemark" class="form-control"></textarea>
                                        </div>
                                        <input type="button" id="btnCloseComplaint" style="margin:5px 0;" value="Close" class="btn btn-danger pull-left" />
                                        <input type="button" id="btnSaveComplaint" style="margin:5px 0;" value="Submit Remark" class="btn btn-success pull-right" />
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

