
@{
    ViewBag.Title = "DoctorDisplayView";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/OPD/JsModule/DoctorDisplayView.js"></script>
<style>
    #RateModal h5, #RateModal input[type=checkbox] {
        margin: 0
    }

    #RateModal .panel-heading {
        padding: 2px 10px
    }

    .btn-add {
        width: 14%;
        height: 28px;
        border: none;
    }

    .btn-tbl {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }
</style>
<style>
    #MiscellaneousModal h3 {
        margin: 0;
        font-size: 18px;
    }

    .box-header.with-border {
        background: #f7f7f7;
        padding: 5px 7px;
        border-bottom: 1px solid #f4f4f4;
    }

    .box {
        border: 1px solid #ddd;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    highlight_row {
        background-color: #d5e7f8;
        color: #000;
    }

    .highlight {
        background-color: red;
    }

    .text-white {
        color: #fff;
        margin: 5px 0px !important;
    }

    .nav > li > a {
        padding: 5px 5px;
        color: #fff;
    }

    .nav > li.active > a {
        color: #fff;
        background: #00bca;
    }

    .nav-tabs {
        padding: 0;
        border: 0;
    }

    .modal-xl {
        width: 1140px !important;
    }

    .panel-heading {
        padding: 1px 4px;
    }



    .modal-header {
        padding: 5px 22px;
        background: #337ab7;
    }

    .close {
        right: 17px;
        position: absolute;
        color: red;
        opacity: 100;
    }

    label {
        font-size: 11px;
        color: #3e4855;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                                <h4 class="text-white">Doctors List</h4>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label>
                                        <input type="radio" name="status" value="Y" onchange="BindDoctorList()" checked />Active
                                    </label>
                                    <label>
                                        <input type="radio" name="status" value="N"  onchange="BindDoctorList()"/>Deactive
                                    </label>                                    
                                </div>
                                <div class="col-md-6">    
                                    <div class="flex">
                                        <input type="text" id="txtSearch" onkeyup="searchTable('txtSearch','tblDoctorsList')" autocomplete="off" class="form-control" placeholder="Search.." />
                                        <button onclick="DisplayView()" style="width:60%" class="btn btn-warning btn-xs pull-right"><i class="fa fa-eye">&nbsp;</i>View</button>
                                    </div>
                                </div>
                                <hr />
                                <div class="example-box-wrapper">
                                    <div class="table table-responsive">
                                        <div class="scroll" style="min-height:480px;overflow:auto">
                                            <span data-itemname style="display:none"></span>
                                            <span data-itemid style="display:none"></span>
                                            <table id="tblDoctorsList" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width:3%">Doctor Id</th>
                                                        <th style="width:25%">Doctor Name</th>
                                                        <th style="width:1%">CMD</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
               <iframe id="frameDisplayView" src="" style="width:100%;height:90vh;border: 1px solid #dddd;"></iframe>
            </div>           
        </div>
    </div>
</div>

