
@{
    ViewBag.Title = "DietAnalytics";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<style>
    .NewLabel {
        background: #d6e9ce;
        display: flex;
        height: 28px;
        padding-right: 5px;
        margin: 0;
        align-items: inherit;
        align-content: center;
    }

    .totalCount {
        height: 14px;
        width: 30px;
        font-size: 11px;
        background: #0076d0;
        color: #fff;
        border-radius: 40px;
        text-align: center;
        padding: 0px;
        position: absolute;
        left: 5px;
        margin-top: -12px;
    }

    .bgLightGreen {
        background: #fffee6 !important;
    }

        .bgLightGreen table td, .bgLightGreen table th {
            background: #fffee6 !important;
        }

    .NewPatientBlock {
        background: #d3a34b;
        padding: 1px 8px;
        margin-left: 5px;
        color: #fff;
        border-radius: 20px;
    }

    .dietScheduled {
        background: #539906;
        padding: 1px 10px;
        margin-left: 5px;
        color: #fff;
        border-radius: 20px;
    }

    #tblDietItemDetail tr[class=AddItem] .form-control {
        height: 25px;
        margin-bottom: 2px;
    }

    #tblDietItemDetail tr[class=AddItem] {
        background: #85bd9e;
    }

        #tblDietItemDetail tr[class=AddItem] input:disabled {
            background: #ddd;
            opacity: 1;
        }

    #IPDPatientList .table > tbody > tr > td, #IPDPatientList .table > tbody > tr > th, #IPDPatientList .table > tfoot > tr > td, #IPDPatientList .table > tfoot > tr > th,
    #IPDPatientList .table > thead > tr > td, #IPDPatientList .table > thead > tr > th {
        font-size: 12px;
        padding: 4px 2px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: none;
    }

    #patientInfo tbody td {
        border: none;
        font-size: 12px;
        padding: 4px 0px;
    }

    .patientInfo {
        border: 1px solid #efefef;
        background: #fff8e5;
        padding: 5px;
        margin-bottom: 10px;
    }

    .selected {
        border-top: 5px groove #26b723 !important;
    }

    .basic {
        background: #0cdf7e6b;
    }

        .basic:nth-child(1) {
            border-top: 5px solid white;
            border-bottom: 5px solid white;
        }

    .request {
        background: #f7e0e0;
    }

        .request:nth-child(1) {
            border-top: 5px solid white;
        }

    .ambulance {
        background: #fff4dc;
    }

    #tblEmployee tbody td {
        padding: 2px;
        border: 1px solid #ddd !important;
    }

    #tblAmbulanceMaster tbody tr
    .btnDoc {
        margin: 2px 0px;
        font-size: 18px;
        height: 17px;
        line-height: 17px;
    }

    .btn-add {
        border: none;
        padding: 6px;
        margin-left: 1px;
    }

    .btn-tbl {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
        margin: 0 0 5px 0;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 7px 8px 0px 7px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }

    .section-feedback {
        border-top: 2px solid #f39c12;
        background: #fff;
        padding: 5px;
        border-radius: 2px;
        margin: -12px 0px;
    }

    .section {
        border-top: 2px solid #0076d0;
        background: #fff;
        padding: 5px;
        border-radius: 2px;
        margin: 9px 0px;
    }

        .section table {
            margin: 0;
        }

            .section table th {
                font-weight: bold;
            }

            .section table th, .section table td {
                font-size: 12px;
            }

    h3.modal-schedule {
        margin: 0;
        background: #2492b3;
        color: #ffffff;
        padding: 4px;
        font-size: 16px;
        border-bottom: 1px solid white;
    }

    #tblSchedule, #tblStatus {
        margin: 0;
        border: 1px solid #2492b3;
        min-height: 130px;
        max-height: 130px;
    }

    .hide {
        display: none;
    }

    .bcc {
        border: 1px solid #f39c12;
        border-radius: 0;
    }

    .btnRate {
        height: 28px;
        width: 30%;
        border-radius: 0;
        margin: 0;
    }

    .patient-list {
        border: 1px solid #e9e9e9;
        margin: 4px 0;
        background: #f3f3f3;
        padding: 3px;
    }

    #tblInfo tr th, #tblInfo tr td {
        padding: 1px;
        color: #4b5056;
        background-color: #d4ecfd;
    }

    .patient-list label {
        font-size: 11px;
    }

    .ratecircle {
        margin: 5px;
        border: 2px solid #2f89e7;
        color: #302f2f;
        width: 30px;
        height: 30px;
        background: #eaffff;
        border-radius: 40px;
        line-height: 27px;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        cursor: pointer;
    }

    .ratecircle-head {
        border: 2px solid #e7c82f;
        color: #ffffff;
        width: 30px;
        height: 30px;
        background: #ff2d2d;
        border-radius: 40px;
        line-height: 27px;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        cursor: pointer;
    }

    #tblQuest thead th p {
        font-size: 9px;
        text-align: center;
        margin: 0;
    }

    #tblQuest tbody th, #tblQuest tbody td {
        vertical-align: inherit;
    }

    .Inactive {
        /*opacity: 0.5;*/
        pointer-events: none;
        cursor: not-allowed;
    }

    .overAllRate {
        width: 40px;
        background: #1569e7;
        height: 40px;
        border-radius: 30px;
        font-size: 18px;
        text-align: center;
        padding: 4px;
    }

    #IPDPatientList {
        background: #ddd;
        min-height: 90%;
        max-height: 90%;
        overflow: auto;
        padding: 0px 5px;
    }

    span1 {
        font-size: 13px;
        font-weight: bold;
    }

    .dischargeInfo {
        background: #f3d2d2;
        width: 100%;
        padding: 0px 3px;
    }

    .pfeedbackList {
        height: 90%
    }

    #modalSchedule #tblDietItemDetail td, #modalSchedule #tblDietItemDetail th,
    #modalSchedule #tblScheduledInfo td, #modalSchedule #tblScheduledInfo th {
        font-size: 12px;
    }

    #totaFilterCount {
        color: #539906;
    }
</style>
<style>
    ::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #ccc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: DodgerBlue;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: DodgerBlue;
        }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .scroll {
        box-shadow: 1px 2px 12px #ddd;
        background: #fff;
        height: 570px;
        overflow: hidden;
        overflow-y: scroll;
        display: block;
    }

    canvas {
        /*height:250px !important;*/
        /*width:300px !important;*/
    }

    .well {
        font-size: 12px;
        min-height: 20px;
        padding: 4px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    #AdmittedIPDPatient {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 510px;
        display: block;
    }


    #ItemList {
        border: 1px solid #c2bebe;
        width: 306px;
        max-width: min-content;
        max-height: 310px;
        /* overflow: scroll; */
        overflow-x: hidden;
        position: absolute;
        z-index: 1;
        background: #fff;
        top: 129px;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 10px;
        border-radius: 3px;
    }

        #ItemList table {
            font-size: 12px;
            line-height: 21px;
            width: 100%;
        }

            #ItemList table td {
                padding: 1px 0px 0px 10px;
            }

            #ItemList table tbody tr {
                max-width: 100%;
                /* padding: 1px 9px; */
                user-select: none;
                -webkit-user-select: none;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                /* border-bottom: 0.1px solid #eaeaea; */
            }


    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }

    .section input[type=date] {
        width: 35%;
        padding: 5px;
        border-radius: 0;
        margin: 0 0px 0px 3px;
        border-color: #00a65a;
    }

    .section button {
        margin: 0;
        border-radius: 0;
        height: 28px;
    }
</style>

<script src="~/Areas/Dietician/JsModule/DietAnalytics.js?v3.1"></script>
<script src="~/JsModule/mdb.min.js?his-version-1.0"></script>
<div id="page-content">
    <dsiv class="container">
        <div class="row">
            <div class="col-md-6 pfeedbackList">
                <div class="panel">
                    <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                        <h4 class="text-white text-center">IPD Patient Info</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-6">
                            <label>IPD No</label>
                            <div class="flex">
                                <button class="btn btn-success bn" onclick="GetPatientDetails()" style="width: 133%;height: 28px;margin-right: 3px;padding: 0 5px;"><i class="fa fa-sign-in">&nbsp;</i>Admitted List</button>
                                <input type="text" id="txtIPDNo" placeholder="IPD No." style="border-color:#f39c12" class="form-control bc" />
                                <button class="btn btn-warning bn" onclick="GetPatientInfoByIPDNo()" style="width:50%;height:28px"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label>Filter</label>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <input type="text" id="txtSearchPatient" class="form-control input_pass" value="" placeholder="Search...">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label>Floor</label>
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <select class="form-control" id="ddlRoom"></select>
                            </div>
                        </div>
                        <hr />
                        <div class="col-md-12" id="IPDPatientList" style="height:480px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pfeedbackList">
                <div class="panel">
                    <div class="panel-heading" style="background:#0076d0;padding: 4px;">
                        <h4 class="text-white text-center">Graphical Representation</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="scroll" style="border: 1px solid #ddd;height:276px">
                                    <div class="tab-content">
                                        <div id="Graph" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col-md-12" id="graphContainer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="scroll" style="border: 1px solid #ddd;height:276px">
                                    <div class="tab-content">
                                        <div id="Graph" class="tab-pane fade in active">
                                            <div class="row">
                                                <div class="col-md-12" id="nutriGraphContainer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dsiv>
</div>


