
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Areas/ApplicationResource/JsModule/dashboard.js"></script>
<style> 
    .panel-body {
        padding: 15px 15px 0px 20px;
        position: relative;
    }
</style>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        @*@Html.Partial("speedtest")*@
                        @Html.Partial("_PatientDeltaReport")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>