
<script src="~/Areas/IPD/JsModule/BillingView/_DoctorVisit.js"></script>
<style>
    label.doctor {
        width: 35%;
        background: #3c8dbc;
        height: 28px;
        text-align: center;
        padding: 4px;
        color: #fff;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }


    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }  
    .panel-body {
        padding: 15px 15px 0px 20px;
        position: relative;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }

    #ProductList {
        border: 1px solid #2478a9;
        width: 99%;
        line-height: 22px;
        height: 180px;
        font-size: 12px;
        display: block;
        overflow: auto;
    }      
    .example-box-wrapper {
        margin: 10px 20px;
    }
    .col-md-3, .col-md-4 {
        padding: 0;
    }
    .headerInfo {
        margin: 0;
        background: #2478a9;
        color: #fff;
        padding: 2px 5px;
        width: 99%;
    }
</style>
<div class="example-box-wrapper">
    <div class="row">
        <div class="col-md-4">
            <div style="display:flex">
                <label class="doctor">Doctor </label>
                <div style="width:100%">
                    <select class="form-control" id="ddlDoctor" onchange="TodayDoctorVisits()">
                        <option>Choose Doctor </option>
                    </select>
                </div>
            </div>
        </div>       
        <hr />
    </div>
    <div class="row">
        <div class="col-md-7" style="padding:0">
            <div class="table table-responsive">
                <label class="headerInfo">Current Applied Visits Info</label>
                <div id="ProductList" style="height: 96px;">
                    <table id="tblCurrentVisit" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 1px;">SNo.</th>
                                <th>Visit Name</th>
                                <th style="width: 22%;">Status</th>
                                <th style="width: 1px;">CMD</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>      
    </div>
    <div class="row" style="margin:10px 0">
        <div class="col-md-3">
            <div style="display:flex;align-items: baseline;">
                <label style="width: 32%;">From : </label>
                <input type="date" id="txtFrom" value="1" class="form-control" style="border-radius:0;border-color:#00a65a" />
            </div>
        </div>
        <div class="col-md-4" style="width: 23%;margin:0 11px">
            <div style="display:flex;align-items: center;">
                <label style="width: 20%;">To : </label>
                <input type="date" id="txtTo" value="1" class="form-control" style="border-radius:0;border-color:#00a65a" />
                <button class="btn btn-success" onclick="GetVisitsBetweenDate()" style="height: 28px;margin: 0;border-radius: 0;width: 35%;"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7" style="padding:0">
            <div class="table table-responsive">
                <label class="headerInfo">Applied Visits Info</label>
                <div id="ProductList" style="height:255px">                    
                    <table id="tblAppliedVisits" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Date</th>
                                <th>Item Name</th>
                                <th>DoctorName</th>                            
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

