
@{
    ViewBag.Title = "doPayment";
}
<h2>doPayment</h2>
<input type="button" value="Submit" onclick="makePayment();" />
<script type="text/javascript">
    function makePayment()
    {
        window.open('MakePayment',"_blank")
    
    }

</script>