
@{
    ViewBag.Title = "PROReferralList";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .btn-add {
        width: 14%;
        height: 28px;
        border: none;
    }

    .btn-tbl {
        border: none;
        padding: 1px 9px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .btn-flat {
        padding: 2px;
        border: none;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 450px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 0px 3px;
        position: relative;
    }

    .note {
        list-style: disc;
        color: red;
        font-size: 11px;
        font-weight: bold;
        background: #f7f7f7;
        border: 1px solid #d86c6c;
    }

    .bn {
        margin: 0px;
        font-size: 10pt;
        padding: 0px 10px;
        border-radius: 0;
        text-align: left;
        height: 30px;
    }

    .bc {
        border: 1px solid #00a65a;
        border-radius: 0;
    }

    #tblReferralDetails thead {
        white-space: nowrap;
    }
</style>
<style>
    #MiscellaneousModal h3 {
        margin: 0;
        font-size: 18px;
    }

    .box-header.with-border {
        background: #f7f7f7;
        padding: 5px 7px;
        border-bottom: 1px solid #f4f4f4;
    }

    .box {
        border: 1px solid #ddd;
    }

    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    highlight_row {
        background-color: #d5e7f8;
        color: #000;
    }

    .highlight {
        background-color: red;
    }

    .text-white {
        color: #fff;
        margin: 5px 0px !important;
    }

    .nav > li > a {
        padding: 5px 5px;
        color: #fff;
    }

    .nav > li.active > a {
        color: #fff;
        background: #00bca;
    }

    .nav-tabs {
        padding: 0;
        border: 0;
    }

    .modal-xl {
        width: 1140px !important;
    }

    .panel-heading {
        padding: 1px 4px;
    }



    .modal-header {
        padding: 5px 22px;
        background: #337ab7;
    }

    .close {
        right: 17px;
        position: absolute;
        color: red;
        opacity: 100;
    }

	#txtLocality {
		position: relative;
		top: -28px;
		width: 88%;
		border-radius: 0;
	}
	.locality{
		width:187px;
		margin-top:10px;
	}
</style>
<script src="~/Areas/Referral/JsModule/PROReferralList.js"></script>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="ml15">
                    <div class="">
                        <div class="panel">
                            <div class="panel-heading" style="background:#0076d0;padding: 1px;">
                                <h4 class="text-white">PRO Referral List</h4>
                            </div>
							<div class="panel-body">
								<div class="col-md-4 flex">
									<input type="text" id="txtSearchByName" autocomplete="off" class="form-control" placeholder="Search By Name...." />
									<button class="btn btn-warning" onclick="SearchReferralByName();" style="height:27px;width:28%;"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
								</div>
								<div class="col-md-5 flex">																		
										@*<button class="btn btn-warning" onclick="SearchReferralByName();" style="height:27px;width:28%;"><i class="fa fa-sign-in">&nbsp;</i>Get</button>*@
										<button class="btn btn-success" onclick="DownloadXL();" style="height:27px;width:40%;"><i class="fa fa-file-excel-o">&nbsp;</i>Download XL</button>																	
								</div>
								<div class="col-md-3">
									<input type="text" id="txtSearch" autocomplete="off" class="form-control" placeholder="Search..." />
								</div>
								<hr />
								<div class="example-box-wrapper">
									<div class="table table-responsive">
										<div class="scroll" style="min-height:450px;overflow:auto">
											<table id="tblReferralDetails" class="table table-bordered">
												<thead>
													<tr>
														<th style="width: 1%;">Ref Code</th>
														<th style="width:1%">Ref Name</th>
														<th style="width: 5%;">Degree</th>
														<th style="width: 0%;">Speciality</th>
														<th style="width: 4%;">City</th>
														<th style="width: 4%;">Locality</th>
														<th style="width: 3%;">Clinic Name</th>
														<th style="width: 1%;">Mobile No</th>
														<th style="width: 6%;">Address</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel">
                    <div class="panel-heading" style="background:#0076d0;padding:1px;">
                        <h4 class="text-white">Add New Referral </h4>
                    </div>
                    <div class="panel-body" style="background:#fff;padding: 8px 15px;">
                        <div class="row">
                            <table class="table-condensed" style="width:100%;border-top: 1px solid #ddd;">
                                <tr>
                                    <th>Business Type</th>
                                    <th>:</th>
                                    <td>
                                        <select id="ddlBusinessType" class="form-control border-imp">
                                            <option value="">Select</option>
                                            <option value="Diagnostic">Diagnostic</option>
                                            <option value="Hospital">Hospital</option>
                                            <option value="Corporate">Corporate</option>
                                        </select>
                                    </td>
                                    <td>&nbsp;</td>
                                    <th>Referral Name</th>
                                    <th>:</th>
                                    <td>
                                        <input type="text" id="txtReferralName" class="form-control border-imp" placeholder="Referral Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Degree</th>
                                    <th>:</th>
                                    <td>
                                        <select id="ddlDegree" class="form-control border-imp"></select>
                                    </td>
                                    <td>&nbsp;</td>
                                    <th>Speciality</th>
                                    <th>:</th>
                                    <td class="flex">
                                        <select id="ddlSpeciality" class="form-control border-imp"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>DOB</th>
                                    <th>:</th>
                                    <td>
                                        <input type="date" id="txtDOB" class="form-control" placeholder="Degree Descriptive" />
                                    </td>
                                    <td>&nbsp;</td>
                                    <th>Clinic Name</th>
                                    <th>:</th>
                                    <td class="flex">
                                        <input type="text" id="txtClinicName" class="form-control border-imp" placeholder="Clinic Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <th>:</th>
                                    <td class="flex">
                                        <textarea rows="3" cols="20" id="txtAddress" class="border-imp"></textarea>
                                    </td>
                                    <td>&nbsp;</td>
                                    <th>Locality</th>
                                    <th>:</th>
									<td>
										<div class="locality">
											<select id="ddlLocality" class="form-control"></select>
											<input type="text" id="txtLocality" class="form-control border-imp" placeholder="Locality" />
										</div>										
									</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <th>:</th>
                                    <td>
                                        <select id="ddlState" class="form-control border-imp"></select>
                                    </td>
                                    <td>&nbsp;</td>
                                    <th>City</th>
                                    <th>:</th>
                                    <td>
                                        <select id="ddlCity" class="form-control border-imp"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <th>:</th>
                                    <td>
                                        <input type="text" id="txtPhone" class="form-control" placeholder="Phone" />
                                    </td>
                                    <td>&nbsp;</td>
                                    <th>Mobile</th>
                                    <th>:</th>
                                    <td>
                                        <input type="text" id="txtMobile" class="form-control border-imp" placeholder="Mobile" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <th>:</th>
                                    <td>
                                        <input type="text" id="txtEmail" class="form-control" placeholder="Email" />
                                    </td>
                                    <td>&nbsp;</td>
                                    <th></th>
                                    <th></th>
                                    <td>
                                        <button class="btn btn-success" onclick="InsertUpdateReferralMaster();" style="margin-left:86px;"><i class="fa fa-sign-in">&nbsp;</i>Save</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



