
<script src="~/Areas/IPD/JsModule/NursingView/_PatientVital.js"></script>
<style>
    .row-green {
        background: #378a45;
        color: #fff;
    }

    .slot-selected {
        background: green !important;
    }

    .timeChoose {
        padding: 3px;
        color: #fff;
        background: #842407;
        border: 1px solid #ddd;
    }

    .TimeFrame {
        max-height: 480px;
        overflow: auto;
        overflow-y: auto;
    }

    .TimeSlot-Status {
        padding: 2px;
        color: white;
        background: #064c67;
        border-radius: 5px;
    }

    .TimeSlot-Title {
        align-items: center;
        display: flex;
        border: 1px solid #ddd;
        background: #f1f1f1;
        padding: 4px 6px;
        font-size: 13px;
        font-weight: bold;
        color: #036f98;
    }

    .TimeSlot {
        display: -webkit-inline-box;
        width: 18%;
        margin: 6px 7px;
        box-shadow: 1px 2px 4px #ddd;
        cursor: pointer;
        background: #cccccc;
        color: #fff;
        padding: 2px 22px;
        /* border-top-left-radius: 15px; */
        /* border-bottom-right-radius: 15px; */
        line-height: 22px;
        text-align: center;
    }

        .TimeSlot:hover {
            box-shadow: 1px 2px 4px #4c4646;
            transition: all 0.6s;
        }

    span[disabled] {
        background: #ccc !important;
        cursor: not-allowed !important;
    }

        span[disabled] > .TimeSlot-Status {
            background: #595a58 !important;
        }

    .disabled {
        background: #ddd !important;
    }

    .btn-flat {
        padding: 5px;
        border: navajowhite;
        margin: 0 0 1px 0px;
    }

    .btn-tbl {
        padding: 3px 5px;
        border: navajowhite;
        margin: 0 0 1px 0px;
    }

    .search-section {
        border: 1px solid #ddd;
        background: #ffeaea;
        padding: 5px;
        line-height: 26px;
        text-align: center;
    }

    .flex {
        display: flex !important;
        align-items: center;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .fileinput.input-group {
        display: flex;
    }

    .text-17 {
        font-size: 17px;
    }

    .scroll {
        width: 100%;
        background: #fff;
        overflow: overlay;
        max-height: 480px;
        display: block;
    }

    .panel-body {
        /*box-shadow: 1px 1px 10px #d2d2d2;*/
        border-radius: 10px;
        padding: 5px 3px 20px 3px;
        position: relative;
    }

    .ml15 {
        margin-left: 15px;
    }

    .btn-close {
        right: 5px;
        opacity: 100%;
        position: absolute;
        color: #fff !important;
        font-weight: bold;
        font-size: 12px;
        padding: 0px 6px;
        background: #b92c02;
        height: 16px;
        border-radius: 2px;
        cursor: pointer;
    }

    /*input[type=text] {
        height: 18px;
    }*/

    .Vital-title {
        padding-bottom: 5px;
        border: 1px solid #404040;
        text-align: center;
        color: #000;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;
    }

    .Vital-body {
        margin-top: 2px;
        border: 1px solid #404040;
        font-family: Verdana, Arial, sans-serif;
    }

    /*.btn-flat {
        border-radius: 2px;
        border: none;
        padding: 0;
    }*/

    #tblVitalSign thead th {
        background: #0076d0;
        color: #fff;
    }

    #tblInfo th {
        font-weight: bold;
    }

    #tblInfo th, #tblInfo td {
        padding: 4px 5px;
        background: #ffffff;
        font-size: 11px;
        border: none;
    }

    .btnNavigation {
        margin-left: 13px;
    }

    .disable {
        pointer-events: none;
        opacity: 0.5;
    }

    label.doctor {
        width: 35%;
        background: #3c8dbc;
        height: 28px;
        text-align: center;
        padding: 4px;
        color: #fff;
    }

    hr {
        margin-top: 35px;
        margin-bottom: 5px;
        border: 0;
        border-top: 1px solid #eee;
    }

    .custom-table {
        width: 100%;
        line-height: 29px;
        font-size: 12px;
    }


    .selected {
        background: DodgerBlue !important;
        color: #fff;
    }

    .panel-body {
        padding: 15px 15px 0px 20px;
        position: relative;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }

    #ProductList {
        border: 1px solid #2478a9;
        width: 99%;
        line-height: 22px;
        height: 180px;
        font-size: 12px;
        display: block;
        overflow: auto;
    }

    .example-box-wrapper {
        margin: 10px 20px;
    }

    .col-md-3, .col-md-4 {
        padding: 0;
    }

    .headerInfo {
        margin: 0;
        background: #2478a9;
        color: #fff;
        padding: 2px 5px;
        width: 99%;
    }
    .vitalInfo input[type=text]{
        width:75px;
    }
    .btn-flat {
        padding: 2px 5px;
        border: navajowhite;
        margin: 0 0 1px 0px;
    }
</style>
<div class="example-box-wrapper">
    <div class="row">
        <div class="col-md-7" style="padding:0">
            <div class="table table-responsive">
                <label class="headerInfo">Patient Vital Entry</label>
                <div id="ProductList" class="vitalInfo" style="height:175px;padding: 5px 20px;">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pull-left">
                                BP Sys
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3">
                            <input name="txtBpSys" type="text" maxlength="7" id="txtBpSys" tabindex="15" class="requiredField"  >
                            <span class="style2">mm/Hg</span>
                        </div>
                        <div class="col-md-2">
                            <label class="pull-left">
                                BP Dys
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3 form-group">
                            <input name="txtBpDys" type="text" maxlength="7" id="txtBpDys" tabindex="15" class="requiredField"  >
                            <span class="style2">mm/Hg</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pull-left">
                                Pulse
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3">
                            <input name="txtPulse" type="text" maxlength="5" id="txtPulse" tabindex="16" class="requiredField"  >
                            <span class="style2">p-m</span>
                        </div>
                        <div class="col-md-2">
                            <label class="pull-left">
                                Resp
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3 form-group">
                            <input name="txtResp" type="text" maxlength="5" id="txtResp" tabindex="17"/><span class="style2">BPM</span><span style="color: Red; font-size: 8px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pull-left">
                                HT
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3">
                            <input name="txtHT" type="text" maxlength="5" id="txtHT" tabindex="19"/>
                            <span class="style2">CM</span>
                        </div>
                        <div class="col-md-2">
                            <label class="pull-left">
                                WT
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3 form-group">
                            <input name="txtWT" type="text" maxlength="5" id="txtWT" tabindex="20"/>

                            <span class="style2">Kg</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pull-left">
                                Arm Span
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3">
                            <input name="txtArmSpan" type="text" maxlength="5" id="txtArmSpan" tabindex="20">
                            <span class="style2">CM</span>
                        </div>
                        <div class="col-md-2">
                            <label class="pull-left">
                                Temp..
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3 form-group">
                            <input name="txtTemprarture" type="text" maxlength="5" id="txtTemprarture" tabindex="18"  style="width:49px;">
                            <span class="style2">°C</span><span style="color: Red; font-size: 8px;"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pull-left">
                                IBW
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3">
                            <input name="txtIBW" type="text" maxlength="5" id="txtIBW" tabindex="20" title="Enter IBW"  >
                            <span class="style2">Kg</span>

                        </div>
                        <div class="col-md-2">
                            <label class="pull-left">
                                SPO2
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3 form-group">
                            <input name="txtSPO2" type="text" maxlength="5" id="txtSPO2" tabindex="20">                   
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="pull-left">
                                Sit Height
                            </label>
                            <b class="pull-right">:</b>
                        </div>
                        <div class="col-md-3">
                            <input name="txtSittingHeight" type="text" maxlength="5" id="txtSittingHeight" tabindex="20" title="Enter Sitting Height" >
                            <span class="style2">CM</span>
                        </div>
                        <div class="col-md-7">
                            <button class="btn btn-success" id="btnSaveVital" onclick="InsertVitalSign()" style="height: 28px;margin: 0;border-radius: 0;width: 20%;float:right">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:10px 0">
        <div class="col-md-3">
            <div style="display:flex;align-items: baseline;">
                <label style="width: 32%;">From : </label>
                <input type="date" id="txtFrom" value="1" class="form-control" style="border-radius:0;border-color:#f39c12" />
            </div>
        </div>
        <div class="col-md-4" style="width: 23%;margin:0 11px">
            <div style="display:flex;align-items: center;">
                <label style="width: 20%;">To : </label>
                <input type="date" id="txtTo" value="1" class="form-control" style="border-radius:0;border-color:#f39c12" />
                <button class="btn btn-warning" onclick="GetVitalSign()" style="height: 28px;margin: 0;border-radius: 0;width: 35%;"><i class="fa fa-sign-in">&nbsp;</i>Get</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7" style="padding:0">
            <div class="table table-responsive">
                <label class="headerInfo">Vital Info</label>
                <div id="ProductList" style="height:215px">
                    <table id="tblVitalSign" class="table table-bordered">
                        <thead>
                            <tr>                               
                                <th>#</th>
                                <th>BP</th>
                                <th>Pulse</th>
                                <th>Resp.</th>
                                <th>Temp.</th>
                                <th>Height(cm)</th>
                                <th>Weight(kg)</th>
                                <th>BMI</th>
                                <th>Arm Span</th>
                                <th>Sit. Height</th>
                                <th>IBW</th>
                                <th>SPO2</th>                        
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


