.custom-btn {
    display: table-cell;
    line-height: 10px;
    height: 14px;
    min-width: 26px;
    margin: 0px;
    font-size: 11px;
    border-radius: unset;
}

hr {
    margin-top: 13px;
    margin-bottom: 8px;
    border: 0;
}

.form-group {
    margin: 0px !important;
    padding: 0PX !important;
}

#roleList, #divisionList {
    list-style: none;
    display: flex;
}

#unitList {
    list-style: none;
    display: block;
    max-height: 41px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
}

    #unitList li {
        font-size: 10px;
        padding: 0px 5px;
        height: 22px;
    }

#roleList li, #divisionList li {
    font-size: 10px;
    padding: 0px 5px;
    height: 22px;
}

.clse {
    position: absolute;
    color: #fafcfe;
    background: #d43939;
    border-radius: 12px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 11px;
    top: -2px;
    right: -1px;
    cursor: pointer;
}

#tblAssignUnit {
    margin: 0px;
}

#ModalAssignUnit .modal-header {
    background: #20ab98;
    padding: 4px;
    color: #fff;
}

#MenuList input[type=checkbox] {
    margin-top: 3px;
}

#rolePanel ul li ul, #roleAllotedPanel ul li ul, #divisionAllotmentPanel ul li ul, #unitAllotedPanel ul li ul {
    background: #e9e7e7;
    border: 1px solid #dbd8d8;
}

#rolePanel .panel-body, #roleAllotedPanel .panel-body, #divisionAllotmentPanel .panel-body, #unitAllotedPanel .panel-body {
    background: #fbfbfb;
    padding: 7px;
    list-style: none;
    border: 1px solid #e6e6e6;
    max-height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
}

#rolePanel ul, #roleAllotedPanel ul, #divisionAllotmentPanel ul, #unitAllotedPanel ul {
    padding: 10px;
    list-style: none;
    background: #f1f1f1;
}

    #divisionAllotmentPanel ul li ul li label, #unitAllotedPanel ul li ul li label {
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #divisionAllotmentPanel ul li ul, #unitAllotedPanel ul li ul {
        overflow: hidden;
        max-height: 220px;
        overflow-y: auto;
    }

#txtSearchUnit {
    height: 20px !important;
    font-size: 11px !important;
}

#ddUnit {
    max-height: 253px;
    padding-left: 11px;
    overflow-y: scroll;
    width: 265px;
}

.panel-group .panel-heading {
	color: #fff;
	background: #0071c7;
	border-bottom: 0;
}

#table-scroll {
    padding: 5px;
    box-shadow: 1px 1px 1px #ececec;
    border: 0.5px solid #ececec;
    width: 100%;
    max-width: 100%;
    max-height: 360px;
    overflow-x: hidden;
    z-index: 1;
    background: #fff;
}

td.delete {
    width: 1px;
    font-size: 14px;
    cursor: pointer;
    padding: 0px 16px !important;
}

#ModalAssignUnit .modal-body input[id=txtUnit] {
    height: 24px;
    margin: 0px 20px 4px 1px;
}

.EmployeeUnit {
    padding: 3px;
    color: #fff;
    font-size: 11px;
    box-shadow: 0px 1px 2px #70767594;
}

.mt-5 {
    margin-top: 5px;
}

.panel-group .panel-heading h4 a {
    text-decoration: none;
}

.select {
    color: dodgerblue;
}

/*Progree Cirlcle*/
div#skill {
    /*background: url(../img/white.jpg) center no-repeat;
    background-size: cover;*/
    /*background-color: rgba(144, 0, 64, 0.8);*/
    color: #fff;
    padding: 09px 0;
    position: absolute;
    display: none;
}

    div#skill h3 {
        color: #fff;
        text-transform: none;
    }

    div#skill .row {
        margin-right: -15px;
        margin-left: -15px;
        padding: 15px 150px;
    }

    div#skill .circle {
        position: relative;
        height: 21px;
        width: 21px;
        border: 3px solid #ff934c;
        border-top-color: #e60000;
        border-radius: 50%;
        /* background-color: #74002f; */
        animation: spin 2s linear infinite;
        top: -29px;
        left: 36px;
    }

        div#skill .circle:after {
            content: url(../img/icons/arrow-point-to-right.png);
            position: absolute;
            top: 25px;
            right: 0;
        }

        div#skill .circle.last:after {
            display: none;
        }

.circle .caption {
    font-weight: bold;
    padding: 20px 24px;
}

.caption h6 {
    font-size: 15px;
}
/*Animation on circle*/

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.col-md-3 {
    position: relative;
}

.caption {
    position: absolute;
    z-index: 10;
    text-align: center;
    left: 65px; /* (120px width + 5+5px border )/2  */
    transform: translate(-50%, 0);
}
