
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    /*border: 1px solid #cdd5da;*/
    background: DodgerBlue !important;
    color: #fff !important;
    max-width: 260px;
}

.ui-autocomplete {
    padding: 0;
    max-width: 260px;
    max-height: 320px;
    overflow: scroll;
    overflow-x: hidden;
}
.ui-menu .ui-menu-item a {
    font-family: inherit;
    padding: 5px 12px;
    font-size: 10px;
    color: #2b2f33;
    font-family: Arial;
}

.selected {
    background: DodgerBlue !important;
    color: #fff;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

#ItemList {
    box-shadow: 1px 1px 1px #ececec;
    border: 0.5px solid #ececec;
    width: 260px;
    max-width: 260px;
    max-height: 361px;
    /*overflow: scroll;*/
    overflow-x: hidden;
    position: absolute;
    z-index: 1;
    background: #fff;
    top: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ItemListDetails {
    box-shadow: 1px 1px 1px #ececec;
    border: 0.5px solid #ececec;
    width: 495px;
    max-width: 410px;
    max-height: 361px;
    overflow: hidden;
    overflow-x: hidden;
    position: absolute;
    z-index: 1;
    background: #fff;
    top: 122px;
    left: 253px;
}

    #ItemListDetails thead {
        border-bottom: 1px dashed#e8e8e8;
    }

.bg-blue {
    background: #007ffb;
    color: #fff;
    border: none;
}

#ItemList table {
    font-size: 11px;
    line-height: 22px;
    width: 100%;
}

#ItemListDetails table {
    font-size: 11px;
    line-height: 22px;
    width: 100%;
}

.btnfa {
    text-align: center;
    cursor: pointer;
    font-size: 16px !important;
    padding: 1px !important;
}

#ItemList table td, #ItemListDetails table td, #ItemListDetails table th {
    padding: 1px 0px 0px 10px;
}

#ItemList table tbody tr, #ItemListDetails table tbody tr {
    border-bottom: 0.1px solid #eaeaea;
}

.focus {
    border-color: red;
}
